{{ define "main" }}

{{ partial "markup/site" . }}
{{.Content}}


<div class=" row">
    <div class="col s12 m7 l6">
        {{ partial "listings/map" . }}
    </div>
    <div class="col s12 m5 l6">
        {{ partial "listings/sengov" . }}
    </div>
</div>
<script async src="https://cse.google.com/cse.js?cx=afc8eedaf9ec7eb88"></script>
<div class="gcse-search"></div>
{{ partial "listings/parallax" . }} 

{{ partial "listings/homesen" . }}
    

<!-- <div class="center" style="margin: auto;">
    {{- partial "ads/sidebar" . -}}
            
    </div>
{{ partial "listings/bills" . }}
{{ partial "listings/parallax" . }} -->
<script src="{{.Site.BaseURL}}js/map.js"></script>
{{ end }}

