<!-- <div class="sponsor">
    <style>
        .card {
            margin: 0 0 20px 0;
            padding: 0.5rem;
            border-radius: 8px;
            background: #fff;
        }

        .card .card-image {
            padding: 15px;
        }

        .card .card-image img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 5px;
            box-shadow: 0 0 1.5rem rgb(17 17 17 / 70%);
            transition: .15s;
        }
        a p {
            color: black;
        }
    </style>
    <div class="card">
        
            <div class="card-image">
                <a href="https://share.acorns.com/johnnyhashim6">
                <img src="/sponsor/acorns.jpeg" alt="">
                </a>
            </div>
            <div class="card-content">
                <span class="green-text text-darken-2">sponsor</span>
                <a href="https://share.acorns.com/johnnyhashim6">
                <p>Redeem your $5 bonus investment! Save and invest every day with Acorns. You can even start with spare change!</p>
            </a>
            </div>
        </a>
    </div>
</div> -->