<a onClick=" shareOntwitter()" target="_blank">
     <span class="fa-stack fa-2x" >
          <i class="fa fa-circle-thin fa-stack-2x"style="background-color:#00aced; border-radius:50%; color:#00aced;"></i>
          <i class="fa fa-twitter fa-stack-1x" style="color: white"></i>
     </span>
</a>
<script>
    function shareOntwitter(){
    var url = 'https://twitter.com/intent/tweet?url={{.Permalink}}&text={{ .Summary | truncate 200 }}';
    TwitterWindow = window.open(url, 'TwitterWindow',width=600,height=300);
    return false;
 } 
</script>