.page-header {
  padding: 20px;
  // background-color: rgba(0, 96, 100, 0.77);
  // background-image: -webkit-linear-gradient(30deg, rgba(191, 191, 191, 0.11) 45%, rgb(0, 96, 100) 45%);
  // position: relative;

  // &::after {
  //   content: '';
  //   background-color: rgba(0, 96, 100, 0.31);
  //   background-image: -webkit-linear-gradient(30deg, rgba(212, 234, 236, 0.25) 45%, rgba(76, 242, 249, 0.2) 45%);
  //   opacity: 0.2;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -1;
  // }

}

.button {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#ff8a00), to(#da1b60));
  background-image: linear-gradient(to top left, #ff8a00, #da1b60);
  color: #fff !important;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  border: 0;
  border-radius: 2rem;
  white-space: nowrap;
  padding: 1rem 1.5rem;
  line-height: 1.4;
  position: relative;
  text-align: center;
  -webkit-transition: 70ms;
  transition: 70ms;
}

code {
  font-feature-settings: normal;
  background: $light-background-secondary;
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: .95rem;

  .dark-theme & {
    background: $dark-background-secondary;
  }
}

pre {
  padding: 30px;
  background: #1d2333;
  margin: 1.5rem 0;
  overflow: auto;
  border-radius: .5em;
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);


  code,
  .hljs {
    padding: 30px;
    background: none !important;
    color: #ccc;
    font-size: inherit;
    font-size: 16px;
    line-height: 1.75;
    background: 0 0;

    white-space: pre;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;

    .dark-theme & {
      color: #fff;
    }
  }


}

code::-webkit-scrollbar-thumb,
pre::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: .5em;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

code::-webkit-scrollbar,
pre::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}
