@media #{$medium-and-down} {
  .sidebar-menu {
    display: none;
  }

  .sidebar-nav-subheader {
    display: none;
  }
}



@media #{$large-and-up} {
  .sidebar-menu {
    display: block;
    background: #FFF;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .nav {
    margin-top: 0;
  }

  .nav>div {
    height: 42px;
    line-height: 42px;
  }


  .nav>div a {
    color: #616161;
    margin-left: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  }

  .nav>div.active {
    border-top: 1px solid #ee6e73;
    border-bottom: 1px solid #f55258;
    box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
    background-color: #dd777a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor, endColorstr=$darkColor);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#dd777a), to(#ee6e73));
    background-image: linear-gradient(bottom, #dd777a, #ee6e73);
  }



  .nav>div.active a {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  }

  .sidebar-nav-subheader {
    display: block;
    padding: 10px;
    font-weight: 500;
    font-size: 0.9em;
    background: #eaecee;

    a {
      color: #616161;
      margin-left: 20px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    }
  }

}


.sidenav li>a {
  height: inherit !important;
  line-height: inherit !important;
}
