{{ partial "markup/governor" . }}
<div class="row" itemscope itemtype="https://schema.org/Person">
  <aside class="col xl2 l2 hide-on-med-and-down right-col-article" i style="padding-left: 0px">
    {{ partial "nav/course-list" . }}
  </aside>
  <div class="col xl10 l10 m12 s12 sengov">

    <article class="white z-depth-1"
      style="  padding-right: 30px; padding-bottom: 30px; margin-top:15px; padding-top:1px;">

     


       


      
      
        {{ partial "subheader" . }}
        <div class= "h-entry {{if or (not (isset .Params `flow_text`)) (eq .Params.flow_text true)}}flow-text{{end}}"
          style=" padding: 25px 20px 20px; border-radius: 6px; ">
          <!-- {{ partial "nav/table-of-contents" . }} -->
          <div class="e-content" id="manifestation">
          {{.Content}}
          </div>
        </div>




    </article>


  </div>
  <!-- <aside class="col xl3 l3 m12 s12  left-col-article" style="padding-right:0;position: sticky;top: 0;">
    <div id="nav-side-ad">
      {{- partial "ads/sidebar" . -}}  
      {{- partial "ads/sponsor" . -}}
      {{- partial "ads/sidebar-custom" . -}} 
     
    </div>
  </aside> -->
</div>