
<style>
     form {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
            font-size: 1.2em;
            color: #212121;
        }
        input, select {
            width: 100%;
            margin-bottom: 20px;
            padding: 10px;
            background: antiquewhite;
        }
        .small-text {
            font-size: .8em;
            margin-bottom: 10px;
        }
        .result {
            background-color: #FFF;
            padding: 10px;
            display: none; 
        }

        
/*** Table Styles **/

table  {
     background: white;
     border-radius:3px;
     border-collapse: collapse;
     margin: auto;
     padding:5px;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
     animation: float 5s infinite;
   }
    
   th {
     color:#D5DDE5;;
     background:#1b1e24;
     border-bottom:4px solid #9ea7af;
     border-right: 1px solid #343a45;
     font-size:23px;
     font-weight: 100;
     padding:24px;
     text-align:left;
     text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
     vertical-align:middle;
   }
   
   th:first-child {
     border-top-left-radius:3px;
   }
    
   th:last-child {
     border-top-right-radius:3px;
     border-right:none;
   }
     
   tr {
     border-top: 1px solid #C1C3D1;
     border-bottom-: 1px solid #C1C3D1;
     color:#666B85;
     font-size:16px;
     font-weight:normal;
     text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
   }
    
   tr:hover td {
     background:#4E5066;
     color:#FFFFFF;
     border-top: 1px solid #22262e;
   }
    
   tr:first-child {
     border-top:none;
   }
   
   tr:last-child {
     border-bottom:none;
   }
    
   tr:nth-child(odd) td {
     background:#EBEBEB;
   }
    
   tr:nth-child(odd):hover td {
     background:#4E5066;
   }
   
   tr:last-child td:first-child {
     border-bottom-left-radius:3px;
   }
    
   tr:last-child td:last-child {
     border-bottom-right-radius:3px;
   }
    
   td {
     background:#FFFFFF;
     padding:10px;
     text-align:left;
     vertical-align:middle;
     font-weight:300;
     font-size:18px;
     text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
     border-right: 1px solid #C1C3D1;
   }
   
   td:last-child {
     border-right: 0px;
   }
   
   
   th{
     text-align: center;
   }
   
   
   
   td{
     text-align: center;
   }
   
   
</style>

<article> 
<div class="row" itemscope itemtype="https://schema.org/Person">
    <aside class="col xl2 l2 hide-on-med-and-down right-col-article" i style="padding-left: 0px">
      {{ partial "nav/course-list" . }}
    </aside>
    <article> 
        <div class="e-content">
    <div class="col xl7 l7 m12 s12 sengov">

        <div class="intro flow-text">
            {{.Content}}
            <div class="calc">
            <p> Find out if you may be eligible for SNAP and an estimated amount of benefits you could receive in {{.Params.title}}</p>
            </div>
          </div>


            <form id="{{.Params.title}}">

                
                <label for="householdSize">Household Size:</label>
                <input class="browser-default" type="number" id="householdSize" name="householdSize" min="1" max="7" required>
                <small class="small-text">Include everyone you live with and share meals with, such as children or young adults under 22, parents, and spouses, even if they buy and prepare food separately.</small>
                <br><br>

                <label for="elderlyOrDisabled">Does your household include someone who is 60 or older, or someone who has a disability?</label>
                <select class="browser-default" id="elderlyOrDisabled" name="elderlyOrDisabled" required>
                    <option value="" disabled selected>Select</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                
                <label for="student">Does your household include a student attending college, university, graduate school, or trade/technical school at least half-time?</label>
                <select class="browser-default" id="student" name="student">
                    <option value="" disabled selected>Select</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
                
                <label for="grossIncome">Monthly household income before taxes from jobs or self-employment ($):</label>
                <input class="browser-default" type="number" id="grossIncome" name="grossIncome" required>
                <small class="small-text">Total monthly income before taxes from employment or self-employment.</small>
                <br><br>
                
                <label for="otherIncome">Monthly household income from other sources ($):</label>
                <input class="browser-default" type="number" id="otherIncome" name="otherIncome" required>
                <small class="small-text">This includes Social Security, disability, child support, worker’s compensation, unemployment benefits, pension income, or other sources of income.</small>
                <br><br>
                
                <label for="childcareExpenses">Childcare Expenses ($):</label>
                <input class="browser-default" type="number" id="childcareExpenses" name="childcareExpenses">
                <small class="small-text">Monthly costs of daycare, babysitters, or other child care needed for work.</small>
                <br><br>
                
                <label for="medicalExpenses">Medical Expenses (for elderly or disabled) ($):</label>
                <input class="browser-default" type="number" id="medicalExpenses" name="medicalExpenses">
                <small class="small-text">Out-of-pocket medical expenses for elderly or disabled members that exceed $35.</small>
                <br><br>
                
                <label for="shelterCosts">Shelter Costs (rent/mortgage) ($):</label>
                <input class="browser-default" type="number" id="shelterCosts" name="shelterCosts">
                <small class="small-text">Monthly rent or mortgage costs.</small>
                <br><br>
                
                <label for="utilityCosts">Utility Costs ($):</label>
                <input class="browser-default" type="number" id="utilityCosts" name="utilityCosts">
                <small class="small-text">Monthly utility costs including heating, cooling, electricity, water, etc.</small>
                <br><br>

                <label for="childSupport">Monthly court-ordered child support payments ($):</label>
                <input class="browser-default" type="number" id="childSupport" name="childSupport">
                <small class="small-text">Legally obligated child support payments.</small>
                <br><br>
                
                <button class="waves-effect waves-light btn pulse" type="button" onclick="calculateBenefits()">Calculate</button>
            </form>


            <div class="flow-text">
              <h2 class="center">Results</h2>
              <p id="eligibilityResult" class="result z-depth-3"></p>
              <p id="benefitAmount" class="result z-depth-4"></p>
              <div id="results" class="result z-depth-5"></div>
            </div>
           
          
           






<script>
      const grossIncomeLimits = elderlyOrDisabled 
          ? {{.Params.elderlyOrDisabled  | safeJS }}
          : {{.Params.regular  | safeJS }};
      const netIncomeLimits = {{.Params.net  | safeJS }};
      const maxBenefits = {{.Params.max  | safeJS }};
      const standardDeductions = {{.Params.standardDeductions  | safeJS }};
  
</script>



 </div>
</div>
</article>
 <aside class="col xl3 l3 m12 s12  left-col-article" style="padding-right:0;position: sticky;top: 0;">
   <div id="nav-side-ad">
    {{- partial "ads/sidebar" . -}}  
     {{- partial "ads/sidebar-custom" . -}}
     {{- partial "social-icons/share" . -}}
   </div>
 </aside>
</div>