{{ partial "markup/governor" . }}
<div class="row" itemscope itemtype="https://schema.org/Person">
  <!-- <aside class="col xl2 l2 hide-on-med-and-down right-col-article" i style="padding-left: 0px">
    {{ partial "nav/course-list" . }}
  </aside> -->
  <div class="col xl9 l9 m12 s12">

    <article class="white z-depth-1"
      style="  padding-right: 30px; padding-bottom: 30px; margin-top:15px; padding-top:1px;">

      <div itemscope itemtype="https://schema.org/Person" class="row">

        {{ if eq .Params.imagedir "root" }}
        <div class="col s12 m6 l5 profile-img"
          style="background-image:url('{{.Params.imageurl}}');background-repeat: no-repeat;background-size: cover; height: 400px; clip-path: polygon(15% 0, 100% 0, 75% 100%, -11% 100%);">
          <div class="senator-image">
            <img src="{{.Params.imageurl}}" alt=" senator {{.Params.Name}}"
              style=" float: right;width: 50px; clip-path: polygon(15% 0, 100% 0, 75% 100%, -11% 100%);">
          </div>
          {{ else }}
          <div class="col s12 m6 l5 profile-img"
            style="background-image:url('{{.Params.url}}/{{.Params.image}}');background-repeat: no-repeat;background-size: cover; height: 400px; clip-path: polygon(15% 0, 100% 0, 75% 100%, -11% 100%);">
            <div class="senator-image">
              <img src="{{.Params.url}}{{.Params.image}}" alt=" senator {{.Params.Name}}"
                style=" float: right;width: 50px; clip-path: polygon(15% 0, 100% 0, 75% 100%, -11% 100%);">
            </div>
            {{end}}
          </div>
          <div class="col s12 m6 l7">
            <div class="senator-info" itemscope itemtype="https://schema.org/Table">
              <h1 itemprop="about" class="flow-text" style="font-size: 18px;">{{.Params.Role}} {{.Params.Name}} Contact
                information</h1>
              <p class="flow-text" style="font-size: 12px;">Here you will find contact information for {{.Params.Role}}
                {{.Params.Name}}, including email address, phone number, and mailing address.</p>
              <table  class="h-card" >
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td class="p-name">{{.Params.Name}}</td>
                  </tr>
                  <tr>
                    <td>Position</td>
                    <td class="p-role">{{.Params.Role}}</td>
                  </tr>
                  <tr>
                    <td>State</td>
                    <td class="p-region"><a href="/{{lower .Params.State | urlize}}">{{.Params.State}}</a></td>
                  </tr>
                  <tr>
                    <td>Party</td>
                    <td class="p-org">{{.Params.Party}}</td>
                  </tr>
                  {{ if isset .Params "born" }}
                  <tr>
                    <td>Born</td>
                    <td class="dt-bday">
                      {{.Params.Born}}
                    </td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "enteredoffice" }}
                  <tr>
                    <td>Entered Office</td>
                    <td>{{.Params.Enteredoffice}}</td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "terms" }}
                  <tr>
                    <td>Terms</td>
                    <td>{{.Params.Terms}}</td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "terms1" }}
                  <tr>
                    <td>Terms1</td>
                    <td>{{.Params.Terms1}}</td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "termexpires" }}
                  <tr>
                    <td>Term expires</td>
                    <td>{{.Params.Termexpires}}</td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "officeroom" }}
                  <tr>
                    <td>Office Room</td>
                    <td class="p-extended-address">{{.Params.Officeroom}}</td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "mailingaddress" }}
                  <tr>
                    <td>Mailing Address</td>
                    <td class="p-street-address">{{.Params.Mailingaddress}} </td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "mailingaddress1" }}
                  <tr>
                    <td>Mailing Address</td>
                    <td class="p-street-address">{{.Params.Mailingaddress1}} </td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "phonenumber" }}
                  <tr>
                    <td>Phone number</td>
                    <td><a href="tel:{{.Params.Phonenumber}}" class="p-tel" itemprop="telephone">{{.Params.Phonenumber}}</a>
                    </td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "phonenumber1" }}
                  <tr>
                    <td>Phone number</td>
                    <td><a href="tel:{{.Params.Phonenumber1}}" class="p-tel"
                        itemprop="telephone">{{.Params.Phonenumber1}}</a></td>
                  </tr>
                  {{end}}
                  {{ if isset .Params "fax1" }}
                  <tr>
                    <td>fax 1</td>
                    <td>{{.Params.Fax1}}</a></td>
                  </tr>
                  {{end}}
                  <tr>
                    <td>email</td>
                    <td><a href="{{.Params.Emailaddress}}" class="u-url" target="_blank"> Email Form</a></td>
                  </tr>
                  <tr>
                    <td>Website</td>
                    <td><a href="{{.Params.Website}}" class="u-url" target="_blank" itemprop="url">Official Website</a></td>
                  </tr>

                </tbody>
              </table>

            </div>

          </div>

        </div>


      
      
        {{ partial "subheader" . }}
        <div class="adsgoogle">

          <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7616051391644176"
            crossorigin="anonymous"></script>
          <!-- afrixside -->
          <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7616051391644176"
            data-ad-slot="5494845660" data-ad-format="auto"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>

        <h2> {{.Params.Name}} for {{.Params.Role}}</h2>
        <div class= "h-entry {{if or (not (isset .Params `flow_text`)) (eq .Params.flow_text true)}}flow-text{{end}}"
          style=" padding: 25px 20px 20px; border-radius: 6px; ">
          {{ partial "nav/table-of-contents" . }}
          <div class="e-content" id="manifestation">
          {{.Content}}
          </div>
        </div>



      



      

        

        {{- partial "social-icons/vertical" . -}}

        {{ partial "nav/pagination.html" . }}



    

    </article>


  </div>
  <aside class="col xl3 l3 m12 s12  left-col-article" style="padding-right:0;position: sticky;top: 0;">
    <div id="nav-side-ad">

      {{- partial "ads/sidebar" . -}}  
      {{- partial "ads/sponsor" . -}}
      {{- partial "ads/sidebar-custom" . -}} 
     
    </div>
  </aside>
</div>