
<div class="row" itemscope itemtype="https://schema.org/Person">
    <aside class="col xl2 l2 hide-on-med-and-down right-col-article" i style="padding-left: 0px">
      {{ partial "nav/course-list" . }}
    </aside>
    <div class="col xl7 l7 m12 s12 sengov">
<div class="intro">
  <h4 class="title">  {{ .Params.seo_title }}</h4>
  {{.Content}}
</div>

<div class="senpay">
  <div id="info-box"></div>
</div>



<div class="senpay" id="table"></div>

<style>
    tbody:nth-last-child(-n + 2) {
    display: none;
  }
</style>




<script>
function myFunction1() {
  var x = document.getElementsByClassName("bio");
  var mod = 1;
  for (var i = 0; i < x.length; i += mod) {
    if (i === 0) {
      continue;
    }
    console.log(i);

    // Create a new script element
    var script = document.createElement("script");
    script.src = "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7616051391644176";
    script.setAttribute("async", true);
    script.setAttribute("crossorigin", "anonymous");
    
    // Create a new ins element for the ad
    var ins = document.createElement("ins");
    ins.className = "adsbygoogle";
    ins.style.display = "block";
    ins.setAttribute("data-ad-client", "ca-pub-7616051391644176");
    ins.setAttribute("data-ad-slot", "9654111001");
    ins.setAttribute("data-ad-format", "auto");
    ins.setAttribute("data-full-width-responsive", "true");

    // Append the script and ins elements to the DOM
    x[i].insertBefore(script, x[i].firstChild); // Insert script before existing content
    x[i].insertBefore(ins, x[i].firstChild); // Insert ins before existing content

    // Initialize the ad
    (adsbygoogle = window.adsbygoogle || []).push({});
  }
}

window.onload = myFunction1;

</script>










<div class="senpay" id="table_rus"></div>

<div id="loader">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100px"
    height="100px"
    viewBox="0 0 100 100"
  >
    <circle cx="30" cy="50" fill="#fff">
      <animate
        attributeName="r"
        values="0;5;0"
        dur="1.2s"
        repeatCount="indefinite"
      />
    </circle>
    <circle cx="50" cy="50" fill="#fff">
      <animate
        attributeName="r"
        values="0;5;0"
        dur="1.2s"
        begin="0.4s"
        repeatCount="indefinite"
      />
    </circle>
    <circle cx="70" cy="50" fill="#fff">
      <animate
        attributeName="r"
        values="0;5;0"
        dur="1.2s"
        begin="0.8s"
        repeatCount="indefinite"
      />
    </circle>
  </svg>
</div>

<!-- {{ if eq .Params.data "gs" }}
<script type="text/javascript">
  const file_type = "GS";
  const leo_url = "";
  const default_url = "GS";
</script>
{{ end }}
{{ if eq .Params.data "leo" }}
<script type="text/javascript">
      const file_type = "Leo";
      const leo_url = " (LEO)";
      const default_url = "GL";
    </script>

{{ end }} -->


<script type="text/javascript">
  let file_type;
  let leo_url = "";
  let default_url;

  if (["gs", "gs-hr", "gs-overtime"].includes("{{ .Params.data }}")) {
    file_type = "GS";
    default_url = "GS";
  } else if (["leo", "leo-hr", "leo-overtime"].includes("{{ .Params.data }}")) {
    file_type = "Leo";
    leo_url = " (LEO)";
    default_url = "GL";
  }
</script>









{{ if isset .Params "xml" }}
<script type="text/javascript">
  default_table(table["{{.Params.xml}}"]);
</script>
{{else }}
<script type="text/javascript">
  let url = `https://www.opm.gov/policy-data-oversight/pay-leave/salaries-wages/salary-tables/xml/2024/${default_url}.xml`;
  let tableid = "table1";
  xml_to_json_tables(url, tableid, "table");
</script>
{{ end }}








 </div>
 <aside class="col xl3 l3 m12 s12  left-col-article" style="padding-right:0;position: sticky;top: 0;">
   <div id="nav-side-ad">
    {{- partial "ads/sidebar" . -}}  
     {{- partial "ads/sidebar-custom" . -}}
     {{- partial "social-icons/share" . -}}
   </div>
 </aside>
</div>