
{{if .Sections}}
<div class="row" id="governors">
     {{range .Sections }}
           <div class="col s12 m6 l3">
          <a href="{{.Permalink}}" ><h5 class="grey-text text-darken-2">{{.Title}}</h5></a>
               
                    {{if .Sections}}
                          {{range first 1 .Sections  }}
                                   {{ partial "listings/senate" . }}
                         {{end}}

                    {{end}}
               
          </div>
     {{end}}
</div>
{{end}}
{{define "recursive-course-listing"}}
     {{if .Sections}}
          {{range .Sections }}
               <div class="col">
                    {{ partial "listings/course-card" . }}
               </div>
               {{ template "recursive-course-listing" . }}
          {{end}}

     {{end}}
</div>
{{end}}
