
{{if .Sections}}
<div class="row" id="homesen">
     {{range .Sections }}
     {{ if  (eq .Params.ab "WH")  }}
                    {{if .Sections}}
                          {{range  .Sections  }}
                              {{ if eq .Params.inoffice "current"  }}
                              <div class="col s12 m6 l4">
                                        {{ partial "listings/inpower" . }}
                              </div>
                              {{ end }}
                         {{end}}

                    {{end}}
               
          {{end}}
     {{end}}
</div>
{{end}}

