
{{if .Sections}}
<div class=" row">
     {{range .Sections }}
     {{ if and (eq (lower .Params.role) "senator") ( eq .Params.inoffice "current") }}
     <div class="col s12 m6 l6">
          {{ partial "listings/senate" . }}
     </div>

     {{end}}
     {{end}}
</div>
{{end}}




{{if .Sections}}
<div class=" row">
     {{range .Sections }}
     {{ if and (eq (lower .Params.role) "representative") ( eq .Params.inoffice "current") }}

     <div class="col s12 m6 l6">
          {{ partial "listings/senate" . }}
     </div>
     {{end}}
     {{end}}
</div>
{{end}}


{{if .Sections}}
<div class=" row">
     {{range .Sections }}
     {{ if and (eq (lower .Params.role) "congress") ( eq .Params.inoffice "current") }}

     <div class="col s12 m6 l6">
          {{ partial "listings/senate" . }}
     </div>
     {{end}}
     {{end}}
</div>
{{end}}



{{define "recursive-course-listing"}}
{{if .Sections}}
{{range .Sections }}
<div class=" row">
     {{ partial "listings/senate" . }}
</div>
{{ template "recursive-course-listing" . }}
{{end}}

{{end}}
{{end}}

{{define "recursive-article-listing"}}
{{range .Pages }}
<div class="col">
     {{ partial "listings/article-card" . }}
</div>
{{ template "recursive-article-listing" . }}
{{end}}
{{end}}