{{if .Sections}}
<div class="row" id="xxx">
     {{range .Sections }}
           <div class="col s12 m6 l4">
          <a href="{{.Permalink}}" ><h5 class="grey-text text-darken-2">{{.Title}}</h5></a>
               
                    {{if .Sections}}
                          {{range first 2 .Sections  }}
                                   {{ partial "listings/senate" . }}
                         {{end}}

                    {{end}}
               
          </div>
     {{end}}
</div>
{{end}}