html {
     background-color:#fcfcfc;
}

body {
     display:flex; min-height: 100vh; flex-direction: column;
}

main {
     flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
     font-weight: 300;
}

h2 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}

h3 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 .912rem 0;
}

article .contents ul:not(.browser-default) li, ul ul, ol ul {
     list-style-type: none;
     list-style-position: inside;
     margin-left: 15px;
  }
  

  article .contents ul:not(.browser-default)  li:before {
     margin-left: 15px;
     content: "# ";
     margin-right: 5px;
     opacity: .7;
     color: #dab437;
}

.page-wrap{
     margin:0 auto !important;
     max-width: 1400px;
     float: none !important;
}
.page-margin{
     margin-left: 2%;
     margin-right: 2%;

}
.center-media {
     display:block;
     margin:auto;
}
.youtube-video-container {
    max-width: 854px;
}

.homepage-background {
     /* IE10+ */
     background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFA726 100%);

     /* Mozilla Firefox */
     background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFA726 100%);

     /* Opera */
     background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFA726 100%);

     /* Webkit (Safari/Chrome 10) */
     background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #FFA726));

     /* Webkit (Chrome 11+) */
     background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #FFA726 100%);

     /* W3C Markup */
     background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #FFA726 100%);
}





.profile-img{
     border-top: 10px solid #44429a;
     border-bottom: 10px solid #a9007b;
     border-left: 5px solid #562e93;
}

.senator-info {
     border-right: 5px solid #0f1b547a;
     border-left: 5px solid #563197;
     border-top: 5px solid #414094;
     border-bottom: 5px solid #a9007a;
     border-radius: 20px;
     padding: 5px;
     background: #8fa8d542;
 }
 
 td, th {
     padding: 5px;
     border: 1px solid #e2dfdf;
     font-size: 13px;
 }

 .bio {
     background-color: #8299dd63 !important;
 }

.democratic {
     background-image: url(/democratic.png);
     background-repeat: no-repeat;
     background-size: 30px 20px;
     background-position: right;
 }
 .republican{
     background-image: url(/republican.png) ;
     background-repeat: no-repeat;
     background-size: 30px 20px;
     background-position: right;
 }

 .csenator{
     background: #e9e9e9;
 }


 .twits{
     border: 2px solid #bebebe;
 }

 article ul:not(.browser-default) #table-of-contents li {
    list-style-type: none;
  }

 #table-of-contents {
     border-width: 2px 2px 4px;
     border-style: solid;
     border-color: rgba(237, 217, 159, 0.25) rgba(245, 218, 142, 0.2) rgb(237, 217, 159);
     border-image: initial;
     border-bottom: 4px solid rgb(237, 217, 158);
     border-radius: 10px;
     padding: 25px 10px 20px;
     margin: 40px 0;
     -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
     box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
 }
#table-of-contents ul {
     list-style: none;
       margin-top: 0px;
       margin-bottom: 0px;
}
#table-of-contents ul a {
         position: relative;
}
#table-of-contents ul a:before {
     content: "# ";
     margin-right: 5px;
     opacity: .7;
     line-height: 1;
     color: #dab437;
     -webkit-transform: translateY(4px);
     transform: translateY(4px);
     display: inline-block;
     text-align: right;
     border-radius: 10px;
     position: absolute;
     left: 0;
}

article .flow-text h1,h2,h3 {
       position: relative;
}
article .flow-text h1:hover::before ,article .flow-text h2:hover::before ,article .flow-text h3:hover::before {
content: "#";
color: #dab437;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
opacity: .8;
position: absolute;
left: -35px;
width: 30px;
top: -3px;
bottom: 0;
-webkit-transition: opacity .3s ease;
transition: opacity .3s ease;
}
    
   
   