.grid-featured {
  padding: 60px 20px;

  .featured-row {
    max-width: 1280px;
    margin: auto;

    @media #{$medium-and-up} {
      display: flex;
      align-items: center;

      .new-post {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

    }


    .card {
      border-radius: 10px;
     .featured-thumb{
      margin-left: -30px;
      margin-right: -30px;
      margin-top: 20px;
     }
      .card-image {
        transform: translateY(-20px);
        padding: 8px 8px 0;
        

        &:hover {
          transform: translateY(-30px);
        }

        .tag {
          position: absolute !important;
          top: 40px;
          left: 20px;
          z-index: 2;
          background: #FF4241;
          display: block;
          padding: 8px 10px 6px;
          border-radius: 10px;
          font-size: 14px;
          color: #ffe0e0;
          letter-spacing: 1.5px;

        }

        .f-thumb-img {
          background-color: #e8e8e8;
          border-radius: 10px;
          transition: transform .3s cubic-bezier(.52, .28, .47, 1.15);
          //box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .2), 0 2px 9px 0 rgba(62, 57, 107, .2);
        }


      }

      .card-content {

        .card-title {
          font-weight: 600;
        }
      }
    }

    .featured-course {
      .card {
        margin-bottom: 40px;
      }
    }
  }


}
