{{ define "main" }}
<div class="container">
    <section class="intro center-align">
      <h3 class="flow-text">Free financial tools</h3>
      <h4 class="flow-text"> Estimate Your Savings</h4>
    </section>
    <section class="adopt-gallery">
      <div class="pet-gallery row">
         <!-- Card-->
         <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><a href="/tools/budget" ><img class="activator responsive-img" style="max-height: 250px;"style="height: 250px;" src="budget/share.jpeg" alt="mortgages and Ladders"/></a></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4">Budget Calculator</span>
              <p><a href="/tools/budget" class="waves-effect waves-light btn-small"><i class="material-icons right">tools</i>Calculate</a></p>
            </div>
          </div>
        </div>
        <!-- card end-->
        <!-- Card-->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><a href="/tools/mortgage" ><img class="activator responsive-img"style="height: 250px;" src="mortgage/share.png" alt="mortgages and Ladders"/></a></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4">mortgages Calculator</span>
              <p><a href="/tools/mortgage" class="waves-effect waves-light btn-small"><i class="material-icons right">tools</i>Calculate</a></p>
            </div>
          </div>
        </div>
        <!-- card end-->
         <!-- Card-->
         <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><a href="/tools/home-loan" ><img class="activator responsive-img"style="height: 250px;" src="home-loan/share.png" alt="Tic Tac"/></a></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4">Home Loan </span>
              <p><a href="/tools/home-loan" class="waves-effect waves-light btn-small"><i class="material-icons right">tools</i>Calculate</a></p>
            </div>
          </div>
        </div>
        <!-- card end-->
         <!-- Card-->
         <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><a href="/tools/student-loan" ><img class="activator responsive-img"style="height: 250px;" src="student-loan/share.png" alt="student-loan"/></a></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4">Student Loan </span>
              <p><a href="/tools/student-loan" class="waves-effect waves-light btn-small"><i class="material-icons right">tools</i>Calculate</a></p>
            </div>
          </div>
        </div>
        <!-- card end-->
           <!-- Card-->
           <div class="col s12 m6">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light"><a href="/tools/credit-card" ><img class="activator responsive-img"style="height: 250px;" src="credit-card/share.png" alt="credit-card"/></a></div>
              <div class="card-content"><span class="card-title activator grey-text text-darken-4">Credit Card rates</span>
                <p><a href="/tools/credit-card" class="waves-effect waves-light btn-small"><i class="material-icons right">tools</i>Calculate</a></p>
              </div>
            </div>
          </div>
          <!-- card end-->

             <!-- Card-->
             <div class="col s12 m6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light"><a href="/tools/early-retire" ><img class="activator responsive-img"style="height: 250px;" src="early-retire/share.webp" alt="early-retire"/></a></div>
                <div class="card-content"><span class="card-title activator grey-text text-darken-4">Early Retirement plan</span>
                  <p><a href="/tools/early-retire" class="waves-effect waves-light btn-small"><i class="material-icons right">tools</i>Calculate</a></p>
                </div>
              </div>
            </div>
            <!-- card end-->

      </div>
    </section>
  </div>
{{ end }}