{{ define "main" }}
<div class="row" itemscope itemtype="https://schema.org/Person">
<div class="col xl9 l9 m12 s12 white z-depth-1" >
    <article class=" post-content"
      style=" padding-left: 30px; padding-right: 30px; padding-bottom: 30px; margin-top:15px; padding-top:1px;">
    <div class="adsgoogle">

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7616051391644176"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7616051391644176"
        data-ad-slot="5256849542"
        data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    <br />
    {{ partial "nav/table-of-contents" . }}
{{.Content}}

<table style="width:851px">
    <tbody>
        <tr>
            <td colspan="3" style="width:843px">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp;<b>Application Sites By State</b></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a
                        href="https://labor.alabama.gov/uc/Claims/login.aspx?864589641=d31715798ce74117a24341a1335236e3"
                        rel="nofollow noopener" target="_blank">Alabama</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://www.mass.gov/how-to/apply-for-unemployment-benefits" rel="nofollow noopener"
                            target="_blank">Massachusetts</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://dlr.sd.gov/ra/individuals/default.aspx" rel="nofollow noopener"
                            target="_blank">South Dakota</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a
                        href="https://my.alaska.gov/NewAccount.aspx?pubid=bif&amp;returnto=https%3a%2f%2fmy.alaska.gov%2fPrerequisiteProcess%3fpubid%3dbif"
                        rel="nofollow noopener" target="_blank">Alaska</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://www.michigan.gov/leo/0,5863,7-336-78421_97241---,00.html" rel="nofollow noopener"
                            target="_blank">Michigan</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://www.tn.gov/workforce/unemployment/apply-for-benefits-redirect-2/online-application.html"
                            rel="nofollow noopener" target="_blank">Tennessee</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://uiclaims.azdes.gov" rel="nofollow noopener"
                        target="_blank">Arizona</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://www.uimn.org/applicants/howapply/info-handbook/applying-benefits.jsp"
                            rel="nofollow noopener" target="_blank">Minnesota</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://twc.texas.gov/jobseekers/unemployment-benefits-services#applyForBenefits"
                            rel="nofollow noopener" target="_blank">Texas</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://www.ezarc.adws.arkansas.gov" rel="nofollow noopener"
                        target="_blank">Arkansas</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://mdes.ms.gov/unemployment-claims" rel="nofollow noopener"
                            target="_blank">Mississippi</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://jobs.utah.gov/ui/home/initialclaims" rel="nofollow noopener"
                            target="_blank">Utah</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://www.edd.ca.gov/unemployment/UI_Online_File_a_Claim.htm"
                        rel="nofollow noopener" target="_blank">California</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://molabor.uservoice.com/knowledgebase/articles/282803-when-and-how-do-i-file-an-unemployment-claim"
                            rel="nofollow noopener" target="_blank">Missouri</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://www.benefitsapplication.com/program_info/VT/Unemployment" rel="nofollow noopener"
                            target="_blank">Vermont</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://www.colorado.gov/pacific/cdle/file-claim"
                        rel="nofollow noopener" target="_blank">Colorado</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://montanaworks.gov" rel="nofollow noopener" target="_blank">Montana</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="http://www.vec.virginia.gov/unemployed/online-services/apply-for-unemployment-benefits"
                            rel="nofollow noopener" target="_blank">Virginia</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://uiclaimsct.force.com/Customers" rel="nofollow noopener"
                        target="_blank">Connecticut</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://neworks.nebraska.gov/vosnet/unemployment.aspx?pu=1&amp;plang=E"
                            rel="nofollow noopener" target="_blank">Nebraska</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://www.esd.wa.gov/unemployment/apply-for-unemployment" rel="nofollow noopener"
                            target="_blank">Washington</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://uics.delawareworks.com/Forms/Form_WL1" rel="nofollow noopener"
                        target="_blank">Delaware</a></b></td>
            <td style="width:249px">
                <p><b><a href="http://ui.nv.gov/css.html" rel="nofollow noopener" target="_blank">Nevada</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://workforcewv.org/unemployment/claimants" rel="nofollow noopener"
                            target="_blank">West Virginia</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a
                        href="https://connect.myflorida.com/Claimant/Benefits/Claims/Initial/ViewPrelimInfo.ASPX"
                        rel="nofollow noopener" target="_blank">Florida</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://www.nhes.nh.gov/services/claimants/file.htm" rel="nofollow noopener"
                            target="_blank">New Hampshire</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://dwd.wisconsin.gov/uiben/services.htm" rel="nofollow noopener"
                            target="_blank">Wisconsin</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://dol.georgia.gov/file-unemployment-insurance-claim"
                        rel="nofollow noopener" target="_blank">Georgia</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://myunemployment.nj.gov/before/about/howtoapply/applyonline.shtml"
                            rel="nofollow noopener" target="_blank">New Jersey</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="http://wyomingworkforce.org/workers/ui/filing" rel="nofollow noopener"
                            target="_blank">Wyoming</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://labor.hawaii.gov/ui/information-about-filing-online"
                        rel="nofollow noopener" target="_blank">Hawaii</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://www.dws.state.nm.us/MyWorkforceConnection" rel="nofollow noopener"
                            target="_blank">New Mexico</a></b></p>
            </td>
            <td style="width:293px">
                <p><b><a href="https://does.dc.gov/service/start-your-unemployment-compensation-process"
                            rel="nofollow noopener" target="_blank">District of Columbia</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://fileunemployment.org/idaho/application" rel="nofollow noopener"
                        target="_blank">Idaho</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://labor.ny.gov/ui/how_to_file_claim.shtm" rel="nofollow noopener"
                            target="_blank">New York</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a
                        href="https://www2.illinois.gov/ides/aboutides/Pages/10%20Things%20You%20Should%20Know.aspx"
                        rel="nofollow noopener" target="_blank">Illinois</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://des.nc.gov/apply-unemployment/filing-your-unemployment-application"
                            rel="nofollow noopener" target="_blank">North Carolina</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://www.in.gov/dwd/2362.htm" rel="nofollow noopener"
                        target="_blank">Indiana</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://www.jobsnd.com/unemployment-individuals/file-claim" rel="nofollow noopener"
                            target="_blank">North Dakota</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a
                        href="https://www.iowaworkforcedevelopment.gov/file-claim-unemployment-insurance-benefits"
                        rel="nofollow noopener" target="_blank">Iowa</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://unemployment.ohio.gov/" rel="nofollow noopener" target="_blank">Ohio</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://www.getkansasbenefits.gov/BenefitsStartMenu.aspx"
                        rel="nofollow noopener" target="_blank">Kansas</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://unemployment.state.ok.us/" rel="nofollow noopener"
                            target="_blank">Oklahoma</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://uiclaims.des.ky.gov/ebenefit/eben.htm" rel="nofollow noopener"
                        target="_blank">Kentucky</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://www.oregon.gov/employ/unemployment/pages/default.aspx" rel="nofollow noopener"
                            target="_blank">Oregon</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="http://www.laworks.net/UnemploymentInsurance/UI_Claimants.asp"
                        rel="nofollow noopener" target="_blank">Louisiana</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://www.uc.pa.gov/unemployment-benefits/file/Pages/File%20an%20Initial%20Claim.aspx"
                            rel="nofollow noopener" target="_blank">Pennsylvania</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://www.maine.gov/labor/unemployment/claims.shtml"
                        rel="nofollow noopener" target="_blank">Maine</a></b></td>
            <td style="width:249px">
                <p><b><a href="http://www.dlt.ri.gov/ui/fileclaim2.htm" rel="nofollow noopener" target="_blank">Rhode
                            Island</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
        <tr>
            <td style="width:245px"><b><a href="https://www.dllr.state.md.us/employment/uibenefits.shtml"
                        rel="nofollow noopener" target="_blank">Maryland</a></b></td>
            <td style="width:249px">
                <p><b><a href="https://dew.sc.gov/individuals/apply-for-benefits" rel="nofollow noopener"
                            target="_blank">South Carolina</a></b></p>
            </td>
            <td style="width:293px"></td>
        </tr>
    </tbody>
</table>
</article>
</div>

<aside class="col xl3 l3 m12 s12  left-col-article" style="padding-right:0px;">
    <div id="nav-side-article">
         {{- partial "ads/sidebar" . -}}
    </div>
</aside>
</div>
{{end}}