{{ define "main" }}
<div class="row" itemscope itemtype="https://schema.org/Person">
<div class="col xl9 l9 m12 s12 white z-depth-1" >
    <article class=" post-content"
      style=" padding-left: 30px; padding-right: 30px; padding-bottom: 30px; margin-top:15px; padding-top:1px;">
    <div class="adsgoogle">

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7616051391644176"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7616051391644176"
        data-ad-slot="5256849542"
        data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    <br />
    {{ partial "nav/table-of-contents" . }}
    {{.Content}}
<table>
    <tbody>
        <tr>
            <td colspan="4">
                <p><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp;</b> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Benefits By State</p>
            </td>
        </tr>
        <tr>
            <th style="text-align:left">State</th>
            <th style="text-align:left">Minimum Weekly Benefit</th>
            <th style="text-align:left">Maximum Weekly Benefit</th>
            <th style="text-align:left">Maximum Weeks</th>
        </tr>
        <tr>
            <td><a target="_blank" href="https://labor.alabama.gov/uc/claims.aspx" rel="nofollow noopener">Alabama</a>
            </td>
            <td>$45</td>
            <td>$275</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://labor.alaska.gov/unemployment/faq.htm"
                    rel="nofollow noopener">Alaska</a></td>
            <td>$56</td>
            <td>$370</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://des.az.gov/services/employment/unemployment-individual"
                    rel="nofollow noopener">Arizona</a></td>
            <td>-</td>
            <td>$240</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.dws.arkansas.gov/unemployment" rel="nofollow noopener">Arkansas</a>
            </td>
            <td>$81</td>
            <td>$451</td>
            <td>20</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://edd.ca.gov/unemployment/UI-Calculator.htm"
                    rel="nofollow noopener">California</a></td>
            <td>-</td>
            <td>$450</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.colorado.gov/pacific/cdle/qualifying-benefits"
                    rel="nofollow noopener">Colorado</a></td>
            <td>$25</td>
            <td>$618</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.ctdol.state.ct.us/UI-OnLine/index.htm"
                    rel="nofollow noopener">Connecticut</a></td>
            <td>-</td>
            <td>$631 +$15/dependent (max 5)</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://ui.delawareworks.com" rel="nofollow noopener">Delaware</a></td>
            <td>$20</td>
            <td>$400</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank"
                    href="http://www.floridajobs.org/Reemployment-Assistance-Service-Center/reemployment-assistance/claimants/apply-for-benefits"
                    rel="nofollow noopener">Florida</a></td>
            <td>-</td>
            <td>$275</td>
            <td>12</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://dol.georgia.gov/unemployment-benefits"
                    rel="nofollow noopener">Georgia</a></td>
            <td>$44</td>
            <td>$330</td>
            <td>14</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://labor.hawaii.gov/ui/" rel="nofollow noopener">Hawaii</a></td>
            <td>-</td>
            <td>$648</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.labor.idaho.gov/dnn/Unemployment-Benefits"
                    rel="nofollow noopener">Idaho</a></td>
            <td>-</td>
            <td>$410</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank"
                    href="https://www2.illinois.gov/ides/individuals/UnemploymentInsurance/Pages/default.aspx"
                    rel="nofollow noopener">Illinois</a></td>
            <td>-</td>
            <td>$471, $561 (w/spouse)&nbsp;$648&nbsp;(w/dependents)</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.in.gov/dwd/2362.htm" rel="nofollow noopener">Indiana</a></td>
            <td>-</td>
            <td>$390</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.iowaworkforcedevelopment.gov/file-weekly-continued-claim"
                    rel="nofollow noopener">Iowa</a></td>
            <td>-</td>
            <td>$481, up to $591 (w/dependents)</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.getkansasbenefits.gov/Home.aspx" rel="nofollow noopener">Kansas</a>
            </td>
            <td></td>
            <td>$488</td>
            <td>16</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://kcc.ky.gov/career/Pages/default.aspx"
                    rel="nofollow noopener">Kentucky</a></td>
            <td>$39</td>
            <td>$552</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.louisianaworks.net/hire/gsipub/index.asp?docid=23"
                    rel="nofollow noopener">Louisiana</a></td>
            <td>-</td>
            <td>$247</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.maine.gov/unemployment" rel="nofollow noopener">Maine</a></td>
            <td>-</td>
            <td>$410 +$10 per dependent</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.dllr.state.md.us/employment/unemployment.shtml"
                    rel="nofollow noopener">Maryland</a></td>
            <td>$50</td>
            <td>$430</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.mass.gov/how-to/request-weekly-unemployment-benefits"
                    rel="nofollow noopener">Massachusetts</a></td>
            <td></td>
            <td>$823</td>
            <td>30</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.michigan.gov/leo/0,5863,7-336-78421_97241---,00.html"
                    rel="nofollow noopener">Michigan</a></td>
            <td></td>
            <td>$362 +$6 (with dependents)</td>
            <td>20</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.uimn.org/applicants/needtoknow/index.jsp"
                    rel="nofollow noopener">Minnesota</a></td>
            <td></td>
            <td>$740</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://mdes.ms.gov/unemployment-claims/benefit-information/"
                    rel="nofollow noopener">Mississippi</a></td>
            <td>$30</td>
            <td>$235</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://labor.mo.gov/DES/Claims/eligibility_web"
                    rel="nofollow noopener">Missouri</a></td>
            <td></td>
            <td>$320</td>
            <td>20</td>
        </tr>
        <tr>
            <td><a target="_blank" href="http://uid.dli.mt.gov/" rel="nofollow noopener">Montana</a></td>
            <td></td>
            <td>$487</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.dol.nebraska.gov/UIBenefits" rel="nofollow noopener">Nebraska</a>
            </td>
            <td></td>
            <td>$440</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="http://ui.nv.gov/css.html#" rel="nofollow noopener">Nevada</a></td>
            <td></td>
            <td>$427</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.nhes.nh.gov/services/claimants/file.htm"
                    rel="nofollow noopener">New Hampshire</a></td>
            <td></td>
            <td>$427</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://myunemployment.nj.gov/labor/myunemployment/before/about/"
                    rel="nofollow noopener">New Jersey</a></td>
            <td></td>
            <td>$713</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.dws.state.nm.us/en-us/Unemployment" rel="nofollow noopener">New
                    Mexico</a></td>
            <td>$86</td>
            <td>$461</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://applications.labor.ny.gov/IndividualReg/" rel="nofollow noopener">New
                    York</a></td>
            <td></td>
            <td>$504</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://des.nc.gov/apply-unemployment/before-you-apply"
                    rel="nofollow noopener">North Carolina</a></td>
            <td></td>
            <td>$350</td>
            <td>12</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.jobsnd.com/unemployment-individuals" rel="nofollow noopener">North
                    Dakota</a></td>
            <td></td>
            <td>$633</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://unemployment.ohio.gov" rel="nofollow noopener">Ohio</a></td>
            <td></td>
            <td>$480 , $647 (w/dependents)</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.ok.gov/oesc/Claimants/" rel="nofollow noopener">Oklahoma</a></td>
            <td></td>
            <td>$520</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.oregon.gov/employ/Unemployment/Pages/default.aspx"
                    rel="nofollow noopener">Oregon</a></td>
            <td></td>
            <td>$538</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://www.uc.pa.gov/unemployment-benefits/Pages/default.aspx"
                    rel="nofollow noopener">Pennsylvania</a></td>
            <td></td>
            <td>$573 + $8/wk/dependent</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="http://www.dlt.ri.gov/ui/" rel="nofollow noopener">Rhode Island</a></td>
            <td></td>
            <td>$566</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://dew.sc.gov/individuals" rel="nofollow noopener">South Carolina</a></td>
            <td></td>
            <td>$326</td>
            <td>20</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://dlr.sd.gov/ra/individuals/file_claim.aspx"
                    rel="nofollow noopener">South Dakota</a></td>
            <td></td>
            <td>$352</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://lwdsupport.tn.gov/hc/en-us/categories/200070604-Unemployment"
                    rel="nofollow noopener">Tennessee</a></td>
            <td></td>
            <td>$275</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://twc.texas.gov/jobseekers/unemployment-benefits"
                    rel="nofollow noopener">Texas</a></td>
            <td>$69</td>
            <td>$521</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://jobs.utah.gov/ui/home" rel="nofollow noopener">Utah</a></td>
            <td></td>
            <td>$496</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://labor.vermont.gov/unemployment-insurance"
                    rel="nofollow noopener">Vermont</a></td>
            <td></td>
            <td>$466</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="http://www.vec.virginia.gov/unemployed" rel="nofollow noopener">Virginia</a>
            </td>
            <td>$60</td>
            <td>$378</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://esd.wa.gov/unemployment" rel="nofollow noopener">Washington</a></td>
            <td></td>
            <td>$790</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://workforcewv.org" rel="nofollow noopener">West Virginia</a></td>
            <td></td>
            <td>$424</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://dwd.wisconsin.gov/ui" rel="nofollow noopener">Wisconsin</a></td>
            <td></td>
            <td>$370</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="http://wyomingworkforce.org/workers/ui" rel="nofollow noopener">Wyoming</a>
            </td>
            <td>$35</td>
            <td>$489</td>
            <td>26</td>
        </tr>
        <tr>
            <td><a target="_blank" href="https://does.dc.gov/page/ui-benefits-claimants"
                    rel="nofollow noopener">District of Columbia</a></td>
            <td></td>
            <td>$425</td>
            <td>26</td>
        </tr>
    </tbody>
</table>
</article>
</div>

<aside class="col xl3 l3 m12 s12  left-col-article"  style="padding-right:0;position: sticky;top: 0;">
    <div id="nav-side-ad">
        {{- partial "ads/sidebar" . -}}
        {{- partial "ads/sponsor" . -}}
        {{- partial "ads/sidebar" . -}}
        {{- partial "social-icons/vertical" . -}}
      </div>
</aside>
</div>
{{end}}