{{ define "main" }}
<div class="row" itemscope itemtype="https://schema.org/Person">
    <div class="col xl9 l9 m12 s12">
        <div class="adsgoogle">

            <script async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7616051391644176"
                crossorigin="anonymous"></script>
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7616051391644176"
                data-ad-slot="5256849542" data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
        <br />

        <div class="md-drag md-table-wrapper" style="max-width: 100%;">
            <table>
                <caption>
                    United States Senate, 117th Congress<br>
                    Party totals: Democrats (D) 48; Republicans (R) 50; Independents (I) 2
                </caption>
                <thead>
                    <tr>
                        <th scope="col">
                            state
                        </th>
                        <th scope="col">
                            senator (party)
                        </th>
                        <th scope="col">
                            service began
                        </th>
                        <th scope="col">
                            term ends
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <sup>1</sup>Martha McSally was appointed in December 2018 and took office the following
                            month to fill the vacancy caused by the resignation of Jon Kyl, who had been appointed in
                            September 2018 to fill the vacancy caused by the death of John McCain. Mark Kelly won a
                            special election in November 2020 and took office in December.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>2</sup>Dianne Feinstein was elected in November 1992 to complete the term of Pete
                            Wilson, who resigned in 1991 to become California's governor.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>3</sup>Alex Padilla was appointed in December 2020 and took office in January 2021 to
                            complete the term of Kamala Harris, who resigned to become vice president.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>4</sup>Michael F. Bennet was appointed in January 2009 to complete the term of Ken
                            Salazar, who resigned to become secretary of the interior.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>5</sup>Ted Kaufman was appointed in January 2009 to replace Joe Biden, who resigned to
                            become vice president. In 2010 Christopher A. Coons won a special election to complete the
                            term.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>6</sup>Kelly Loeffler was appointed in December 2019 and took office in January 2020 to
                            fill the vacancy caused by the resignation of Johnny Isakson. Raphael G. Warnock won a
                            special election in November 2020 and took office in January 2021.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>7</sup>Brian Schatz was appointed in December 2012 to fill the vacancy caused by the
                            death of Daniel Inouye.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>8</sup>William Cowan was appointed in January 2013 and took office in February to
                            replace John Kerry, who resigned to become secretary of state. In July 2013 Ed Markey won a
                            special election to complete the term.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>9</sup>Tina Smith was appointed in December 2017 and took office in January 2018 to
                            fill the vacancy caused by the resignation of Al Franken.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>10</sup>Roger Wicker was appointed in December 2007 to fill the vacancy caused by the
                            resignation of Trent Lott.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>11</sup>Cindy Hyde-Smith was appointed in March 2018 and took office in April to fill
                            the vacancy caused by the resignation of Thad Cochran.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>12</sup>Robert Menendez was appointed in January 2006 to fill the vacancy caused by the
                            resignation of Jon S. Corzine.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>13</sup>Jeff Chiesa was appointed in June 2013 to fill the vacancy caused by the death
                            of Frank R. Lautenberg. In October 2013 Cory A. Booker won a special election to complete
                            the term.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>14</sup>Kirsten Gillibrand was appointed in January 2009 to replace Hillary Rodham
                            Clinton, who resigned to become secretary of state.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>15</sup>James M. Inhofe was elected in November 1994 to complete the term of David
                            Boren, who resigned to become president of the University of Oklahoma.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>16</sup>Ron Wyden was elected in January 1996 to complete the term of Bob Packwood, who
                            resigned in 1995.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>17</sup>Tim Scott was appointed in December 2012 and took office in January 2013 to
                            fill the vacancy caused by the retirement of Jim DeMint.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>18</sup>Joseph Manchin III won a special election in 2010 to fill the vacancy caused by
                            the death of Robert C. Byrd.
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <sup>19</sup>John Barrasso was appointed in June 2007 to fill the vacancy caused by the
                            death of Craig Thomas.
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Alabama
                        </td>
                        <td>
                            Richard C. Shelby (R)
                        </td>
                        <td>
                            1987
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tommy Tuberville (R)
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Alaska
                        </td>
                        <td>
                            Lisa Murkowski (R)
                        </td>
                        <td>
                            2002
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dan Sullivan (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Arizona
                        </td>
                        <td>
                            Kyrsten Sinema (D)
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mark Kelly (D)
                        </td>
                        <td>
                            2020<sup>1</sup>
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Arkansas
                        </td>
                        <td>
                            John Boozman (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tom Cotton (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            California
                        </td>
                        <td>
                            Dianne Feinstein (D)
                        </td>
                        <td>
                            1992<sup>2</sup>
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Alex Padilla (D)
                        </td>
                        <td>
                            2021<sup>3</sup>
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Colorado
                        </td>
                        <td>
                            Michael F. Bennet (D)
                        </td>
                        <td>
                            2009<sup>4</sup>
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John W. Hickenlooper (D)
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Connecticut
                        </td>
                        <td>
                            Richard Blumenthal (D)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Christopher Murphy (D)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Delaware
                        </td>
                        <td>
                            Thomas R. Carper (D)
                        </td>
                        <td>
                            2001
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Christopher A. Coons (D)
                        </td>
                        <td>
                            2010<sup>5</sup>
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Florida
                        </td>
                        <td>
                            Marco Rubio (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rick Scott (R)
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Georgia
                        </td>
                        <td>
                            Jon Ossoff (D)
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Raphael G. Warnock (D)
                        </td>
                        <td>
                            2021<sup>6</sup>
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Hawaii
                        </td>
                        <td>
                            Mazie K. Hirono (D)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Brian Schatz (D)
                        </td>
                        <td>
                            2012<sup>7</sup>
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Idaho
                        </td>
                        <td>
                            Mike Crapo (R)
                        </td>
                        <td>
                            1999
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            James E. Risch (R)
                        </td>
                        <td>
                            2009
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Illinois
                        </td>
                        <td>
                            Dick Durbin (D)
                        </td>
                        <td>
                            1997
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tammy Duckworth (D)
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Indiana
                        </td>
                        <td>
                            Todd Young (R)
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mike Braun (R)
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Iowa
                        </td>
                        <td>
                            Chuck Grassley (R)
                        </td>
                        <td>
                            1981
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Joni Ernst (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Kansas
                        </td>
                        <td>
                            Jerry Moran (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Roger Marshall (R)
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Kentucky
                        </td>
                        <td>
                            Mitch McConnell (R)
                        </td>
                        <td>
                            1985
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rand Paul (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Louisiana
                        </td>
                        <td>
                            Bill Cassidy (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            John Kennedy (R)
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Maine
                        </td>
                        <td>
                            Susan Collins (R)
                        </td>
                        <td>
                            1997
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Angus King (I)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Maryland
                        </td>
                        <td>
                            Benjamin L. Cardin (D)
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Chris Van Hollen (D)
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Massachusetts
                        </td>
                        <td>
                            Elizabeth Warren (D)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Edward J. Markey (D)
                        </td>
                        <td>
                            2013<sup>8</sup>
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Michigan
                        </td>
                        <td>
                            Debbie Stabenow (D)
                        </td>
                        <td>
                            2001
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Gary Peters (D)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Minnesota
                        </td>
                        <td>
                            Amy Klobuchar (D)
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tina Smith (D)
                        </td>
                        <td>
                            2018<sup>9</sup>
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Mississippi
                        </td>
                        <td>
                            Roger F. Wicker (R)
                        </td>
                        <td>
                            2007<sup>10</sup>
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cindy Hyde-Smith (R)
                        </td>
                        <td>
                            2018<sup>11</sup>
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Missouri
                        </td>
                        <td>
                            Roy Blunt (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Josh Hawley (R)
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Montana
                        </td>
                        <td>
                            Jon Tester (D)
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Steve Daines (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Nebraska
                        </td>
                        <td>
                            Deb Fischer (R)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ben Sasse (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Nevada
                        </td>
                        <td>
                            Catherine Cortez Masto (D)
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jacky Rosen (D)
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            New Hampshire
                        </td>
                        <td>
                            Jeanne Shaheen (D)
                        </td>
                        <td>
                            2009
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Margaret Wood Hassan (D)
                        </td>
                        <td>
                            2017
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            New Jersey
                        </td>
                        <td>
                            Robert Menendez (D)
                        </td>
                        <td>
                            2006<sup>12</sup>
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cory A. Booker (D)
                        </td>
                        <td>
                            2013<sup>13</sup>
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            New Mexico
                        </td>
                        <td>
                            Martin Heinrich (D)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ben Ray Luján (D)
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            New York
                        </td>
                        <td>
                            Charles E. Schumer (D)
                        </td>
                        <td>
                            1999
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kirsten E. Gillibrand (D)
                        </td>
                        <td>
                            2009<sup>14</sup>
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            North Carolina
                        </td>
                        <td>
                            Richard Burr (R)
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thom Tillis (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            North Dakota
                        </td>
                        <td>
                            John Hoeven (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Kevin Cramer (R)
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Ohio
                        </td>
                        <td>
                            Sherrod Brown (D)
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rob Portman (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Oklahoma
                        </td>
                        <td>
                            James M. Inhofe (R)
                        </td>
                        <td>
                            1994<sup>15</sup>
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            James Lankford (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Oregon
                        </td>
                        <td>
                            Ron Wyden (D)
                        </td>
                        <td>
                            1996<sup>16</sup>
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Jeff Merkley (D)
                        </td>
                        <td>
                            2009
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Pennsylvania
                        </td>
                        <td>
                            Robert P. Casey, Jr. (D)
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Patrick J. Toomey (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Rhode Island
                        </td>
                        <td>
                            Jack Reed (D)
                        </td>
                        <td>
                            1997
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sheldon Whitehouse (D)
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            South Carolina
                        </td>
                        <td>
                            Lindsey Graham (R)
                        </td>
                        <td>
                            2003
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tim Scott (R)
                        </td>
                        <td>
                            2013<sup>17</sup>
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            South Dakota
                        </td>
                        <td>
                            John Thune (R)
                        </td>
                        <td>
                            2005
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mike Rounds (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Tennessee
                        </td>
                        <td>
                            Marsha Blackburn (R)
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bill Hagerty (R)
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Texas
                        </td>
                        <td>
                            John Cornyn (R)
                        </td>
                        <td>
                            2002
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Ted Cruz (R)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Utah
                        </td>
                        <td>
                            Mike Lee (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mitt Romney (R)
                        </td>
                        <td>
                            2019
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Vermont
                        </td>
                        <td>
                            Patrick J. Leahy (D)
                        </td>
                        <td>
                            1975
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bernard Sanders (I)
                        </td>
                        <td>
                            2007
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Virginia
                        </td>
                        <td>
                            Mark R. Warner (D)
                        </td>
                        <td>
                            2009
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tim Kaine (D)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Washington
                        </td>
                        <td>
                            Patty Murray (D)
                        </td>
                        <td>
                            1993
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maria Cantwell (D)
                        </td>
                        <td>
                            2001
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            West Virginia
                        </td>
                        <td>
                            Joseph Manchin III (D)
                        </td>
                        <td>
                            2010<sup>18</sup>
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Shelley Moore Capito (R)
                        </td>
                        <td>
                            2015
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Wisconsin
                        </td>
                        <td>
                            Ron Johnson (R)
                        </td>
                        <td>
                            2011
                        </td>
                        <td>
                            2023
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tammy Baldwin (D)
                        </td>
                        <td>
                            2013
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr class="has-rs">
                        <td rowspan="2" scope="row">
                            Wyoming
                        </td>
                        <td>
                            John Barrasso (R)
                        </td>
                        <td>
                            2007<sup>19</sup>
                        </td>
                        <td>
                            2025
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cynthia M. Lummis (R)
                        </td>
                        <td>
                            2021
                        </td>
                        <td>
                            2027
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{.Content}}

    </div>

    <aside class="col xl3 l3 m12 s12  left-col-article" style="padding-right:0px;">
        <div id="nav-side-ad">
            {{- partial "ads/sidebar" . -}}
          </div>
    </aside>
</div>
{{end}}