{{ define "main" }}
<div class="row" itemscope itemtype="https://schema.org/Person">
<div class="col xl9 l9 m12 s12 white z-depth-1" >
    <div class="adsgoogle">

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7616051391644176"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7616051391644176"
        data-ad-slot="5256849542"
        data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    <br />
{{.Content}}
<table style="width:855px">
    <tbody>
        <tr>
            <td colspan="3" style="width:847px">
                <p><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp;Eligibility Info By State</b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://labor.alabama.gov/unemployment.aspx" rel="nofollow noopener"
                            target="_blank">Alabama</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.mass.gov/service-details/check-eligibility-for-unemployment-benefits"
                            rel="nofollow noopener" target="_blank">Massachusetts</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://dlr.sd.gov/ra/individuals/faq.aspx#eligible" rel="nofollow noopener"
                            target="_blank">South Dakota</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://labor.alaska.gov/unemployment/faq.htm" rel="nofollow noopener"
                            target="_blank">Alaska</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.michigan.gov/leo/0,5863,7-336-78421_97241---,00.html" rel="nofollow noopener"
                            target="_blank">Michigan</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://lwdsupport.tn.gov/hc/en-us/articles/200888994-Eligibility-requirements-Am-I-eligible-for-unemployment-"
                            rel="nofollow noopener" target="_blank">Tennessee</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://des.az.gov/services/employment/unemployment-individual/eligibility-unemployment-insurance-benefits"
                            rel="nofollow noopener" target="_blank">Arizona</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://mn.gov/uimn/applicants/needtoknow/eligibility-requirements"
                            rel="nofollow noopener" target="_blank">Minnesota</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://twc.texas.gov/jobseekers/eligibility-benefit-amounts" rel="nofollow noopener"
                            target="_blank">Texas</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.dws.arkansas.gov/unemployment" rel="nofollow noopener"
                            target="_blank">Arkansas</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://mdes.ms.gov/unemployment-claims/benefit-information/benefit-eligibility-requirements"
                            rel="nofollow noopener" target="_blank">Mississippi</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://jobs.utah.gov/ui/home" rel="nofollow noopener" target="_blank">Utah</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.edd.ca.gov/unemployment/eligibility.htm" rel="nofollow noopener"
                            target="_blank">California</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://labor.mo.gov/DES/Claims/eligibility_web" rel="nofollow noopener"
                            target="_blank">Missouri</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://labor.vermont.gov/unemployment-insurance/ui-claimants/calculating-your-ui-benefits"
                            rel="nofollow noopener" target="_blank">Vermont</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.colorado.gov/pacific/cdle/eligibility" rel="nofollow noopener"
                            target="_blank">Colorado</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="http://uid.dli.mt.gov/claimants" rel="nofollow noopener" target="_blank">Montana</a></b>
                </p>
            </td>
            <td style="width:312px">
                <p><b><a href="http://www.vec.virginia.gov/unemployed/benefits-information/benefits-eligibility"
                            rel="nofollow noopener" target="_blank">Virginia</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.ctdol.state.ct.us/progsupt/unemplt/new-faqui.htm" rel="nofollow noopener"
                            target="_blank">Connecticut</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.dol.nebraska.gov/UIBenefits/Resources/FAQ/Eligibility"
                            rel="nofollow noopener" target="_blank">Nebraska</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://esd.wa.gov/unemployment/basic-eligibility-requirements" rel="nofollow noopener"
                            target="_blank">Washington</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://ui.delawareworks.com/claimant-faqs.php" rel="nofollow noopener"
                            target="_blank">Delaware</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="http://ui.nv.gov/css.html" rel="nofollow noopener" target="_blank">Nevada</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://workforcewv.org/unemployment/claimants/filing-an-initial-claim"
                            rel="nofollow noopener" target="_blank">West Virginia</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.stateofflorida.com/articles/florida-unemployment/#one"
                            rel="nofollow noopener" target="_blank">Florida</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.nhes.nh.gov/services/claimants/eligibility.htm" rel="nofollow noopener"
                            target="_blank">New Hampshire</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://dwd.wisconsin.gov/uiben/faqs/eligibility.htm" rel="nofollow noopener"
                            target="_blank">Wisconsin</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://dol.georgia.gov/faqs-individuals/individuals-faqs-unemployment-insurance"
                            rel="nofollow noopener" target="_blank">Georgia</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://myunemployment.nj.gov/before/about/who/" rel="nofollow noopener"
                            target="_blank">New Jersey</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="http://www.wyomingworkforce.org/workers/ui" rel="nofollow noopener"
                            target="_blank">Wyoming</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://labor.hawaii.gov/ui/faq" rel="nofollow noopener" target="_blank">Hawaii</a></b>
                </p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.jobs.state.nm.us/gsipub/index.asp?enc=6UqHcUZuN6XXIxleG/lj2g=="
                            rel="nofollow noopener" target="_blank">New Mexico</a></b></p>
            </td>
            <td style="width:312px">
                <p><b><a href="https://does.dc.gov/page/ui-benefits-claimants" rel="nofollow noopener"
                            target="_blank">District of Columbia</a></b></p>
            </td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://labor.idaho.gov/dnn/Unemployment-Benefits/Questions-Answers"
                            rel="nofollow noopener" target="_blank">Idaho</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.labor.ny.gov/ui/claimantinfo/beforeyouapplyfaq.shtm" rel="nofollow noopener"
                            target="_blank">New York</a></b></p>
            </td>
            <td style="width:312px"></td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www2.illinois.gov/ides/aboutides/Pages/10%20Things%20You%20Should%20Know.aspx"
                            rel="nofollow noopener" target="_blank">Illinois</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.nccommerce.com/jobs-training/resources-job-seekers/file-unemployment-insurance"
                            rel="nofollow noopener" target="_blank">North Carolina</a></b></p>
            </td>
            <td style="width:312px"></td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.in.gov/dwd/2359.htm" rel="nofollow noopener" target="_blank">Indiana</a></b>
                </p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://fileunemployment.org/north-dakota/eligibility-calculator-north-dakota"
                            rel="nofollow noopener" target="_blank">North Dakota</a></b></p>
            </td>
            <td style="width:312px"></td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.iowaworkforcedevelopment.gov/unemployment-insurance-frequently-asked-questions#Eligibility"
                            rel="nofollow noopener" target="_blank">Iowa</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="http://www.odjfs.state.oh.us/uiben" rel="nofollow noopener" target="_blank">Ohio</a></b>
                </p>
            </td>
            <td style="width:312px"></td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.getkansasbenefits.gov/FAQs/EligibiltyDisqual.aspx#attend"
                            rel="nofollow noopener" target="_blank">Kansas</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.ok.gov/oesc" rel="nofollow noopener" target="_blank">Oklahoma</a></b></p>
            </td>
            <td style="width:312px"></td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://kcc.ky.gov/career/If-you-are-Unemployed/Pages/default.aspx"
                            rel="nofollow noopener" target="_blank">Kentucky</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.oregon.gov/employ/Unemployment/Claimant_Handbook/Pages/default.aspx"
                            rel="nofollow noopener" target="_blank">Oregon</a></b></p>
            </td>
            <td style="width:312px"></td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.louisianaworks.net/hire/vosnet/GSIPub/DocumentView.aspx?enc=6UqHcUZuN6XXIxleG/lj2g=="
                            rel="nofollow noopener" target="_blank">Louisiana</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.uc.pa.gov/unemployment-benefits/Am-I-Eligible/Pages/am-I-eligible.aspx"
                            rel="nofollow noopener" target="_blank">Pennsylvania</a></b></p>
            </td>
            <td style="width:312px"></td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.maine.gov/unemployment/uiguide" rel="nofollow noopener"
                            target="_blank">Maine</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="http://www.dlt.ri.gov/ui/UIfaqFiling.htm" rel="nofollow noopener" target="_blank">Rhode
                            Island</a></b></p>
            </td>
            <td style="width:312px"></td>
        </tr>
        <tr>
            <td style="width:249px">
                <p><b><a href="https://www.dllr.state.md.us/employment/claimfaq.shtml" rel="nofollow noopener"
                            target="_blank">Maryland</a></b></p>
            </td>
            <td style="width:270px">
                <p><b><a href="https://www.dew.sc.gov/individuals/apply-for-benefits/eligibility-requirements"
                            rel="nofollow noopener" target="_blank">South Carolina</a></b></p>
            </td>
            <td style="width:312px"></td>
        </tr>
    </tbody>
</table>
</div>

<aside class="col xl3 l3 m12 s12  left-col-article" style="padding-right:0px;">
    <div id="nav-side-article">
         {{- partial "ads/sidebar" . -}}
    </div>
</aside>
</div>
{{end}}