

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.3/dat.gui.min.js"></script>
<link rel="stylesheet" href="https://flipclock.tk/styles.css">

<script>
    const query = `
    query { 
        joke {
        joke
        permalink
            }
        }
    `;

    (function(){   
    getJoke();  
    setInterval(function(){getJoke()  } ,10000)
    })()


// getJoke() function definition
function getJoke() {
  // make an API request to https://icanhazdadjoke.com/'
  fetch('https://icanhazdadjoke.com/', {
    headers: {
      'Accept': 'application/json'
    }
  }).then(function(response) {
    /* convert Stringified JSON response to Javascript Object */
    return response.json();
  }).then(function(data) {
    /* replace innerText of .joke-text with data.joke */
    // extract the joke text
    const joke = data.joke;
    // do the replacement

    if(joke.length < 120){  
        window.joke.innerHTML = joke;
        displayLaugh();

        }else{
        getJoke();
        }

  }).catch(function(error) {
    // if some error occured
    jokeText.innerText = 'Oops! Some error happened :(';
    // removes the old href from .tweet-btn if found any
    tweetBtn.removeAttribute('href');
    // console log the error
    console.log(error);
  });
}

    function displayLaugh(){
    var elements = document.querySelectorAll('.laugh a');  
    var txt =['HA!','HA!','HA!','?','...'];
    var disTxt = txt[Math.floor(Math.random() * txt.length)];
    elements.forEach(el =>{ 
        el.innerHTML = disTxt;
        if((Math.floor(Math.random() * 3) + 1) == 1){
        setTimeout(function(){
            el.classList.toggle("display");
            setTimeout(function(){
            el.classList.toggle("display");
            },1000) 
        }, Math.random() * (3000 - 100) + 100);
        }
    });
    }





 function DoFullscreen (event) {
	if (document.fullscreenElement) {
	  document.exitFullscreen()
	}else {
	  document.documentElement.requestFullscreen();
	}
}
// LIVE ----------------------------------------------------------------









    
</script>
    
    <style>
    @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
body {
  background-color: #1abc9c;
  background-color: #832710;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: Roboto, sans-serif;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dad {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 380px;
  z-index: 1;
}
.dad * {
  position: absolute;
}
.dad .hair {
  left: -5px;
  margin-top: 5px;
  width: 110px;
  height: 80px;
  background-color: #674f3f;
  border-radius: 30% 30% 0% 0%/40%;
}
.dad .hair:before {
  content: " ";
  position: absolute;
  z-index: 10;
  right: 0;
  width: 90px;
  height: 60px;
  background-color: #674f3f;
  top: -5px;
  border-radius: 30% 50% 0% 80%/20% 60% 0% 80%;
}
.dad .head {
  top: 10px;
  height: 120px;
  width: 100px;
  background-color: #fcd7b1;
  border-radius: 50% 50% 50% 50%/30%;
  z-index: 5;
}
.dad .head:before {
  content: " ";
  position: absolute;
  height: 15px;
  width: 10px;
  background-color: #343535;
  border-radius: 5px;
  top: 60px;
  left: 20px;
}
.dad .head:after {
  content: " ";
  position: absolute;
  height: 15px;
  width: 10px;
  background-color: #343535;
  border-radius: 5px;
  top: 60px;
  right: 20px;
}
.dad .head > div {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 15px;
  background-color: whitesmoke;
  border-radius: 0% 0% 100px 100px;
}
.dad .head > div:before {
  position: absolute;
  content: " ";
  height: 10px;
  width: 46px;
  background-color: #674f3f;
  top: -10px;
  left: -5px;
  border-radius: 100px 100px 0% 0%;
}
.dad .head span {
  height: 20px;
  width: 10px;
  top: 65px;
  border-radius: 10px 0% 0% 10px;
  background-color: #fcd7b1;
}
.dad .head span:nth-child(1) {
  left: -10px;
}
.dad .head span:nth-child(1):before {
  content: "";
  position: absolute;
  height: 15px;
  width: 5px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #fabe80;
  border-radius: 10px 0% 0% 10px;
}
.dad .head span:nth-child(3) {
  right: -10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.dad .head span:nth-child(3):before {
  content: "";
  position: absolute;
  height: 15px;
  width: 5px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #fabe80;
  border-radius: 10px 0% 0% 10px;
}
.dad .upperbody {
  height: 99px;
  width: 80px;
  background-color: #80adda;
  top: 130px;
  left: 10px;
  border-radius: 50% 50% 0% 0%/30%;
}
.dad .upperbody:before {
  content: "";
  z-index: 1;
  position: absolute;
  height: 25px;
  width: 30px;
  background-color: #fcd7b1;
  top: -10px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 5% 5% 50% 50%/30%;
}
.dad .upperbody:after {
  content: "";
  z-index: 1;
  position: absolute;
  height: 25px;
  width: 30px;
  background-color: #fabe80;
  top: -20px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 0% 0% 50% 50%/20%;
}
.dad .upperbody span {
  height: 60px;
  width: 120px;
  border-top-left-radius: 70px 70px;
  border-top-right-radius: 70px 70px;
  left: -40px;
  top: 5px;
  border: 20px #80adda solid;
  border-bottom: transparent;
}
.dad .upperbody span:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 25px;
  background-color: #6099d1;
  left: -25px;
  bottom: 0;
}
.dad .upperbody span:after {
  position: absolute;
  content: "";
  height: 15px;
  width: 25px;
  background-color: #6099d1;
  right: -25px;
  bottom: 0;
}
.dad .upperbody span div {
  height: 60px;
  width: 20px;
  background-color: #fcd7b1;
  border-radius: 0px 0px 10px 10px;
}
.dad .upperbody span div:nth-child(1) {
  top: 60px;
  left: -21px;
}
.dad .upperbody span div:nth-child(1):before {
  content: " ";
  position: absolute;
  background-color: #fcd7b1;
  height: 10px;
  width: 10px;
  bottom: 15px;
  right: -5px;
  border-radius: 50%;
}
.dad .upperbody span div:nth-child(2) {
  top: 60px;
  right: -21px;
}
.dad .upperbody span div:nth-child(2):before {
  content: " ";
  position: absolute;
  background-color: #fcd7b1;
  height: 10px;
  width: 10px;
  bottom: 15px;
  left: -5px;
  border-radius: 50%;
}
.dad .lowerbody {
  width: 74px;
  height: 25px;
  top: 229px;
  left: 13px;
  border-radius: 0% 0% 100% 100%;
  background-color: #c3b38c;
}
.dad .lowerbody span {
  height: 150px;
  width: 25px;
  background-color: #c3b38c;
}
.dad .lowerbody span:nth-child(1) {
  left: 0;
}
.dad .lowerbody span:nth-child(1):before {
  content: " ";
  position: absolute;
  height: 20px;
  width: 45px;
  bottom: 0;
  left: -20px;
  border-radius: 100% 0% 0% 5%/70% 0% 0% 30%;
  background-color: #343535;
}
.dad .lowerbody span:nth-child(2) {
  right: 0;
}
.dad .lowerbody span:nth-child(2):before {
  content: " ";
  position: absolute;
  height: 20px;
  width: 45px;
  bottom: 0;
  right: -20px;
  border-radius: 0% 100% 5% 0%/0% 70% 30% 0%;
  background-color: #343535;
}

.speechBubble {
  display: inline-block;
  z-index: 1;
  left: 50%;
  top: calc(50% - 210px);
  transform: translate(-50%, -50%);
  padding: 10px 10px 50px 25px;
  position: absolute;
  background: #ff8f00;
  text-align: center;
  line-height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.2em;
  font-weight: bolder;
  clip-path: polygon(4% 1%, 100% 0%, 98% 80%, 44% 77%, 43% 100%, 25% 78%, 3% 80%);
}

@media (max-width: 768px) {
  .speechBubble {
    width: 100vw;
    top: calc(50% - 250px);
    clip-path: none;
    margin: 1px 1px 1px 1px;
  }
}
.scene {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.scene .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
}

.laugh a {
  font-size: 25px;
  color: whitesmoke;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}
.laugh a:nth-child(1) {
  font-size: 16px;
  left: 53%;
  top: 57%;
}
.laugh a:nth-child(2) {
  font-size: 27px;
  left: 12%;
  top: 84%;
}
.laugh a:nth-child(3) {
  font-size: 21px;
  left: 33%;
  top: 43%;
}
.laugh a:nth-child(4) {
  font-size: 16px;
  left: 31%;
  top: 33%;
}
.laugh a:nth-child(5) {
  font-size: 30px;
  left: 40%;
  top: 29%;
}
.laugh a:nth-child(6) {
  font-size: 17px;
  left: 18%;
  top: 13%;
}
.laugh a:nth-child(7) {
  font-size: 28px;
  left: 90%;
  top: 71%;
}
.laugh a:nth-child(8) {
  font-size: 21px;
  left: 14%;
  top: 65%;
}
.laugh a:nth-child(9) {
  font-size: 30px;
  left: 14%;
  top: 48%;
}
.laugh a:nth-child(10) {
  font-size: 26px;
  left: 28%;
  top: 60%;
}
.laugh a:nth-child(11) {
  font-size: 19px;
  left: 65%;
  top: 77%;
}
.laugh a:nth-child(12) {
  font-size: 19px;
  left: 52%;
  top: 43%;
}
.laugh a:nth-child(13) {
  font-size: 27px;
  left: 48%;
  top: 86%;
}
.laugh a:nth-child(14) {
  font-size: 19px;
  left: 69%;
  top: 72%;
}
.laugh a:nth-child(15) {
  font-size: 22px;
  left: 60%;
  top: 59%;
}
.laugh a:nth-child(16) {
  font-size: 22px;
  left: 60%;
  top: 17%;
}
.laugh a:nth-child(17) {
  font-size: 25px;
  left: 47%;
  top: 56%;
}
.laugh a:nth-child(18) {
  font-size: 27px;
  left: 89%;
  top: 11%;
}
.laugh a:nth-child(19) {
  font-size: 24px;
  left: 52%;
  top: 55%;
}
.laugh a:nth-child(20) {
  font-size: 27px;
  left: 83%;
  top: 35%;
}
.laugh a:nth-child(21) {
  font-size: 26px;
  left: 14%;
  top: 79%;
}
.laugh a:nth-child(22) {
  font-size: 25px;
  left: 86%;
  top: 71%;
}
.laugh a:nth-child(23) {
  font-size: 21px;
  left: 65%;
  top: 86%;
}
.laugh a:nth-child(24) {
  font-size: 18px;
  left: 84%;
  top: 38%;
}
.laugh a:nth-child(25) {
  font-size: 16px;
  left: 15%;
  top: 87%;
}
.laugh a:nth-child(26) {
  font-size: 19px;
  left: 65%;
  top: 60%;
}
.laugh a:nth-child(27) {
  font-size: 19px;
  left: 12%;
  top: 78%;
}
.laugh a:nth-child(28) {
  font-size: 25px;
  left: 26%;
  top: 24%;
}
.laugh a:nth-child(29) {
  font-size: 30px;
  left: 57%;
  top: 14%;
}
.laugh a:nth-child(30) {
  font-size: 17px;
  left: 48%;
  top: 63%;
}
.laugh a:nth-child(31) {
  font-size: 18px;
  left: 26%;
  top: 25%;
}
.laugh a:nth-child(32) {
  font-size: 19px;
  left: 11%;
  top: 76%;
}
.laugh a:nth-child(33) {
  font-size: 16px;
  left: 16%;
  top: 39%;
}
.laugh a:nth-child(34) {
  font-size: 19px;
  left: 40%;
  top: 30%;
}
.laugh a:nth-child(35) {
  font-size: 18px;
  left: 55%;
  top: 70%;
}
.laugh a:nth-child(36) {
  font-size: 19px;
  left: 33%;
  top: 18%;
}
.laugh a:nth-child(37) {
  font-size: 28px;
  left: 80%;
  top: 59%;
}
.laugh a:nth-child(38) {
  font-size: 24px;
  left: 77%;
  top: 65%;
}
.laugh a:nth-child(39) {
  font-size: 26px;
  left: 48%;
  top: 50%;
}
.laugh a:nth-child(40) {
  font-size: 26px;
  left: 59%;
  top: 61%;
}
.laugh a:nth-child(41) {
  font-size: 20px;
  left: 61%;
  top: 59%;
}
.laugh a:nth-child(42) {
  font-size: 19px;
  left: 47%;
  top: 84%;
}
.laugh a:nth-child(43) {
  font-size: 16px;
  left: 35%;
  top: 33%;
}
.laugh a:nth-child(44) {
  font-size: 29px;
  left: 49%;
  top: 60%;
}
.laugh a:nth-child(45) {
  font-size: 22px;
  left: 75%;
  top: 50%;
}
.laugh a:nth-child(46) {
  font-size: 30px;
  left: 79%;
  top: 33%;
}
.laugh a:nth-child(47) {
  font-size: 30px;
  left: 27%;
  top: 17%;
}
.laugh a:nth-child(48) {
  font-size: 17px;
  left: 74%;
  top: 29%;
}
.laugh a:nth-child(49) {
  font-size: 18px;
  left: 61%;
  top: 28%;
}
.laugh a:nth-child(50) {
  font-size: 17px;
  left: 50%;
  top: 89%;
}
.laugh a:nth-child(51) {
  font-size: 21px;
  left: 31%;
  top: 36%;
}
.laugh a:nth-child(52) {
  font-size: 19px;
  left: 39%;
  top: 81%;
}
.laugh a:nth-child(53) {
  font-size: 23px;
  left: 55%;
  top: 61%;
}
.laugh a:nth-child(54) {
  font-size: 25px;
  left: 36%;
  top: 13%;
}
.laugh a:nth-child(55) {
  font-size: 16px;
  left: 75%;
  top: 51%;
}
.laugh a:nth-child(56) {
  font-size: 19px;
  left: 39%;
  top: 84%;
}
.laugh a:nth-child(57) {
  font-size: 23px;
  left: 71%;
  top: 70%;
}
.laugh a:nth-child(58) {
  font-size: 27px;
  left: 48%;
  top: 61%;
}
.laugh a:nth-child(59) {
  font-size: 26px;
  left: 89%;
  top: 28%;
}
.laugh a:nth-child(60) {
  font-size: 16px;
  left: 64%;
  top: 19%;
}
.laugh a.display {
  opacity: 1;
}

.crowd {
  overflow: hidden;
  position: relative;
  background-color: #110c06;
  height: calc(20% - 20px);
  width: 100%;
}
.crowd .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
}
.crowd .ppl {
  position: relative;
  margin-left: 15px;
  margin-top: 5%;
  background-color: black;
  height: 80px;
  width: 70px;
  border-radius: 50% 50% 50% 50%/30%;
}
.crowd .ppl:before {
  content: "";
  position: absolute;
  top: 75px;
  left: -5px;
  background-color: black;
  height: 80px;
  width: 80px;
  border-radius: 50% 50% 0% 0%/30%;
}

.dg {
  z-index: 101 !important;
}
    
    
























  

    </style>
    
    
    
    
    <body>
    <div class="scene">
        <div class="shadow"></div>
        <div class="speechBubble" id="joke">
        </div>
        <div class="dad"> 
          <div class="hair"></div>
          <div class="head"> 
            <span></span>
            <div></div>
            <span></span>
          </div>
          <div class="body">
            <div class="upperbody">
              <span>
                <div></div>
                <div></div>
              </span>
      
            </div>
            <div class="lowerbody">
              <span></span>
              <span></span>
            </div>
          </div>
      
        </div>  
      
        <div class="laugh">
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
      
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
      
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
      
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
      
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
      
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
          <a></a>
        </div>
      </div>

      





      <div class="menu1" style="z-index: 100">
        <!-- FULLSCREEN -->
        <svg  onclick="DoFullscreen()" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
            <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z"></path>
        </svg>

    </div>
    </body>