{{ define "main" }}
<div class="row" itemscope itemtype="https://schema.org/Person">
  <div class="col xl9 l9 m12 s12">

    <div class="md-drag md-table-wrapper" style="max-width: 100%;">
      {{.Content}}

      <form>
        <div class="input-field">
          <input type="search" id="search" required placeholder="Search by state, Name">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>




      <table width="100%" id="listOfSenators" class="display compact nowrap dataTable no-footer dtr-inline"
        cellspacing="0" role="grid" aria-describedby="listOfSenators_info" style="width: 100%;">
        <thead>
          <tr align="left" role="row">
            <th style="color: rgb(75, 75, 75); width: 179px;" align="left" class="sorting_asc" tabindex="0"
              aria-controls="listOfSenators" rowspan="1" colspan="1"
              aria-label="Senator's Name: activate to sort column descending" aria-sort="ascending">Senator's Name</th>
            <th style="color: rgb(75, 75, 75); width: 106px;" align="left" class="sorting" tabindex="0"
              aria-controls="listOfSenators" rowspan="1" colspan="1"
              aria-label="State: activate to sort column ascending">State</th>
            <th style="color: rgb(75, 75, 75); width: 92px;" align="left" class="sorting" tabindex="0"
              aria-controls="listOfSenators" rowspan="1" colspan="1"
              aria-label="Party: activate to sort column ascending">Party</th>
            <th style="color: rgb(75, 75, 75); width: 50px;" align="left" class="sorting" tabindex="0"
              aria-controls="listOfSenators" rowspan="1" colspan="1"
              aria-label="Class: activate to sort column ascending">Class</th>
            <th style="color: rgb(75, 75, 75); width: 117px;" align="left" class="sorting" tabindex="0"
              aria-controls="listOfSenators" rowspan="1" colspan="1"
              aria-label="Office Room*: activate to sort column ascending">Office Room*</th>
            <th class="sorting" tabindex="0" aria-controls="listOfSenators" rowspan="1" colspan="1" style="width: 61px;"
              aria-label="Phone: activate to sort column ascending">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr role="row" class="odd">
            <td><a href="/wisconsin/tammy-baldwin/">Baldwin, Tammy</a></td>
            <td>Wisconsin</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-709 </td>
            <td>4-5653</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/wyoming/john-barrasso/">Barrasso, John</a></td>
            <td>Wyoming</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SD-307 </td>
            <td>4-6441</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/colorado/michael-bennet/">Bennet, Michael F.</a></td>
            <td>Colorado</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-261 </td>
            <td>4-5852</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/tennessee/marsha-blackburn/">Blackburn, Marsha</a></td>
            <td>Tennessee</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SD-357 </td>
            <td>4-3344</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/connecticut/richard-blumenthal/">Blumenthal, Richard</a></td>
            <td>Connecticut</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-706 </td>
            <td>4-2823</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/new-jersey/cory-booker/">Booker, Cory A.</a></td>
            <td>New Jersey</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-717 </td>
            <td>4-3224</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/arkansas/john-boozman/">Boozman, John</a></td>
            <td>Arkansas</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-141 </td>
            <td>4-4843</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/indiana/mike-braun/">Braun, Mike</a></td>
            <td>Indiana</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-404 </td>
            <td>4-4814</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/alabama/katie-britt/">Britt, Katie Boyd</a></td>
            <td>Alabama</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SD-B40A </td>
            <td>4-5744</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/ohio/sherrod-brown/">Brown, Sherrod</a></td>
            <td>Ohio</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-503 </td>
            <td>4-2315</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/north-carolina/ted-budd/">Budd, Ted</a></td>
            <td>North Carolina</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-B85 </td>
            <td>4-3154</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/washington/maria-cantwell/">Cantwell, Maria</a></td>
            <td>Washington</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-511 </td>
            <td>4-3441</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/west-virginia/shelley-moore-capito/">Capito, Shelley Moore</a></td>
            <td>West Virginia</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-172 </td>
            <td>4-6472</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/maryland/ben-cardin/">Cardin, Benjamin L.</a></td>
            <td>Maryland</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-509 </td>
            <td>4-4524</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/delaware/tom-carper/">Carper, Thomas R.</a></td>
            <td>Delaware</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-513 </td>
            <td>4-2441</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/pennsylvania/bob-casey/">Casey, Robert P., Jr.</a></td>
            <td>Pennsylvania</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-393 </td>
            <td>4-6324</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/louisiana/bill-cassidy/">Cassidy, Bill</a></td>
            <td>Louisiana</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SD-455 </td>
            <td>4-5824</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/maine/susan-collins/">Collins, Susan M.</a></td>
            <td>Maine</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SD-413 </td>
            <td>4-2523</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/delaware/chris-coons/">Coons, Christopher A.</a></td>
            <td>Delaware</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-218 </td>
            <td>4-5042</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/texas/john-cornyn/">Cornyn, John</a></td>
            <td>Texas</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-517 </td>
            <td>4-2934</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/nevada/catherine-cortez-masto/">Cortez Masto, Catherine</a></td>
            <td>Nevada</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-313 </td>
            <td>4-3542</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/arkansas/tom-cotton/">Cotton, Tom</a></td>
            <td>Arkansas</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-326 </td>
            <td>4-2353</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/north-dakota/kevin-cramer/">Cramer, Kevin</a></td>
            <td>North Dakota</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-330 </td>
            <td>4-2043</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/idaho/mike-crapo/">Crapo, Mike</a></td>
            <td>Idaho</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SD-239 </td>
            <td>4-6142</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/texas/ted-cruz/">Cruz, Ted</a></td>
            <td>Texas</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-127A </td>
            <td>4-5922</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/montana/steve-daines/">Daines, Steve</a></td>
            <td>Montana</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-320 </td>
            <td>4-2651</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/illinois/tammy-duckworth/">Duckworth, Tammy</a></td>
            <td>Illinois</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-524 </td>
            <td>4-2854</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/illinois/dick-durbin/">Durbin, Richard J.</a></td>
            <td>Illinois</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-711 </td>
            <td>4-2152</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/iowa/joni-ernst/">Ernst, Joni</a></td>
            <td>Iowa</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-730 </td>
            <td>4-3254</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/california/dianne-feinstein/">Feinstein, Dianne</a></td>
            <td>California</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-331 </td>
            <td>4-3841</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/pennsylvania/john-fetterman/">Fetterman, John</a></td>
            <td>Pennsylvania</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SD-B40B </td>
            <td>4-4254</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/nebraska/deb-fischer/">Fischer, Deb</a></td>
            <td>Nebraska</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-454 </td>
            <td>4-6551</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/new-york/kirsten-gillibrand/">Gillibrand, Kirsten E.</a></td>
            <td>New York</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-478 </td>
            <td>4-4451</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/south-carolina/lindsey-graham/">Graham, Lindsey</a></td>
            <td>South Carolina</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-290 </td>
            <td>4-5972</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/iowa/chuck-grassley/">Grassley, Chuck</a></td>
            <td>Iowa</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-135 </td>
            <td>4-3744</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/tennessee/bill-hagerty/">Hagerty, Bill</a></td>
            <td>Tennessee</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-248 </td>
            <td>4-4944</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/new-hampshire/maggie-hassan/">Hassan, Margaret Wood</a></td>
            <td>New Hampshire</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-324 </td>
            <td>4-3324</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/missouri/josh-hawley/">Hawley, Josh</a></td>
            <td>Missouri</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-115 </td>
            <td>4-6154</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/new-mexico/martin-heinrich/">Heinrich, Martin</a></td>
            <td>New Mexico</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-303 </td>
            <td>4-5521</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/colorado/john-hickenlooper/">Hickenlooper, John W.</a></td>
            <td>Colorado</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-374 </td>
            <td>4-5941</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/hawaii/mazie-hirono/">Hirono, Mazie K.</a></td>
            <td>Hawaii</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-109 </td>
            <td>4-6361</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/north-dakota/john-hoeven/">Hoeven, John</a></td>
            <td>North Dakota</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-338 </td>
            <td>4-2551</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/mississippi/cindy-hyde-smith/">Hyde-Smith, Cindy</a></td>
            <td>Mississippi</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-702 </td>
            <td>4-5054</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/wisconsin/ron-johnson/">Johnson, Ron</a></td>
            <td>Wisconsin</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-328 </td>
            <td>4-5323</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/virginia/tim-kaine/">Kaine, Tim</a></td>
            <td>Virginia</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-231 </td>
            <td>4-4024</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/arizona/mark-kelly/">Kelly, Mark</a></td>
            <td>Arizona</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-516 </td>
            <td>4-2235</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/louisiana/john-neely-kennedy/">Kennedy, John</a></td>
            <td>Louisiana</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-416 </td>
            <td>4-4623</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/maine/angus-king/">King, Angus S., Jr.</a></td>
            <td>Maine</td>
            <td>Independent</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-133 </td>
            <td>4-5344</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/minnesota/amy-klobuchar/">Klobuchar, Amy</a></td>
            <td>Minnesota</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SD-425 </td>
            <td>4-3244</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/oklahoma/james-lankford/">Lankford, James</a></td>
            <td>Oklahoma</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-316 </td>
            <td>4-5754</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/utah/mike-lee/">Lee, Mike</a></td>
            <td>Utah</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-363 </td>
            <td>4-5444</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/new-mexico/ben-lujan/">Luján, Ben Ray</a></td>
            <td>New Mexico</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-498 </td>
            <td>4-6621</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/wyoming/cynthia-lummis/">Lummis, Cynthia M.</a></td>
            <td>Wyoming</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-124 </td>
            <td>4-3424</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/west-virginia/joe-manchin/">Manchin, Joe, III</a></td>
            <td>West Virginia</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-306 </td>
            <td>4-3954</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/massachusetts/ed-markey/">Markey, Edward J.</a></td>
            <td>Massachusetts</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SD-255 </td>
            <td>4-2742</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/kansas/roger-marshall/">Marshall, Roger</a></td>
            <td>Kansas</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-479A </td>
            <td>4-4774</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/kentucky/mitch-mcconnell/">McConnell, Mitch</a></td>
            <td>Kentucky</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-317 </td>
            <td>4-2541</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/new-jersey/bob-menendez/">Menendez, Robert</a></td>
            <td>New Jersey</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-528 </td>
            <td>4-4744</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/oregon/jeff-merkley/">Merkley, Jeff</a></td>
            <td>Oregon</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-531 </td>
            <td>4-3753</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/kansas/jerry-moran/">Moran, Jerry</a></td>
            <td>Kansas</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SD-521 </td>
            <td>4-6521</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/oklahoma/markwayne-mullin/">Mullin, Markwayne</a></td>
            <td>Oklahoma</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-B33 </td>
            <td>4-4721</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/alaska/lisa-murkowski/">Murkowski, Lisa</a></td>
            <td>Alaska</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-522 </td>
            <td>4-6665</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/connecticut/chris-murphy/">Murphy, Christopher</a></td>
            <td>Connecticut</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-136 </td>
            <td>4-4041</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/washington/patty-murray/">Murray, Patty</a></td>
            <td>Washington</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-154 </td>
            <td>4-2621</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/georgia/jon-ossoff/">Ossoff, Jon</a></td>
            <td>Georgia</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-455 </td>
            <td>4-3521</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/california/alex-padilla/">Padilla, Alex</a></td>
            <td>California</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-112 </td>
            <td>4-3553</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/kentucky/rand-paul/">Paul, Rand</a></td>
            <td>Kentucky</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-167 </td>
            <td>4-4343</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/michigan/gary-peters/">Peters, Gary C.</a></td>
            <td>Michigan</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-724 </td>
            <td>4-6221</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/rhode-island/jack-reed/">Reed, Jack</a></td>
            <td>Rhode Island</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-728 </td>
            <td>4-4642</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/nebraska/ben-sasse/">Ben Sasse</a></td>
            <td>Nebraska</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SD-40D </td>
            <td>4-4224</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/idaho/jim-risch/">Risch, James E.</a></td>
            <td>Idaho</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-483 </td>
            <td>4-2752</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/utah/mitt-romney/">Romney, Mitt</a></td>
            <td>Utah</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-354 </td>
            <td>4-5251</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/nevada/jacky-rosen/">Rosen, Jacky</a></td>
            <td>Nevada</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-713 </td>
            <td>4-6244</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/south-dakota/mike-rounds/">Rounds, Mike</a></td>
            <td>South Dakota</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-716 </td>
            <td>4-5842</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/florida/marco-rubio/">Rubio, Marco</a></td>
            <td>Florida</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-284 </td>
            <td>4-3041</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/vermont/bernie-sanders/">Sanders, Bernard</a></td>
            <td>Vermont</td>
            <td>Independent</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SD-332 </td>
            <td>4-5141</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/hawaii/brian-schatz/">Schatz, Brian</a></td>
            <td>Hawaii</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-722 </td>
            <td>4-3934</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/missouri/eric-schmitt/">Schmitt, Eric</a></td>
            <td>Missouri</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-B11 </td>
            <td>4-5721</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/new-york/chuck-schumer/">Schumer, Charles E.</a></td>
            <td>New York</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-322 </td>
            <td>4-6542</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/florida/rick-scott/">Scott, Rick</a></td>
            <td>Florida</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-502 </td>
            <td>4-5274</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/south-carolina/tim-scott/">Scott, Tim</a></td>
            <td>South Carolina</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-104 </td>
            <td>4-6121</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/new-hampshire/jeanne-shaheen/">Shaheen, Jeanne</a></td>
            <td>New Hampshire</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-506 </td>
            <td>4-2841</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/arizona/kyrsten-sinema/">Sinema, Kyrsten</a></td>
            <td>Arizona</td>
            <td>Independent</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-317 </td>
            <td>4-4521</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/minnesota/tina-smith/">Smith, Tina</a></td>
            <td>Minnesota</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-720 </td>
            <td>4-5641</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/michigan/debbie-stabenow/">Stabenow, Debbie</a></td>
            <td>Michigan</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-731 </td>
            <td>4-4822</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/alaska/dan-sullivan/">Sullivan, Dan</a></td>
            <td>Alaska</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-302 </td>
            <td>4-3004</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/montana/jon-tester/">Tester, Jon</a></td>
            <td>Montana</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-311 </td>
            <td>4-2644</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/south-dakota/john-thune/">Thune, John</a></td>
            <td>South Dakota</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SD-511 </td>
            <td>4-2321</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/north-carolina/thom-tillis/">Tillis, Thom</a></td>
            <td>North Carolina</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SD-113 </td>
            <td>4-6342</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/alabama/tommy-tuberville/">Tuberville, Tommy</a></td>
            <td>Alabama</td>
            <td>Republican</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SR-142 </td>
            <td>4-4124</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/maryland/chris-van-hollen/">Van Hollen, Chris</a></td>
            <td>Maryland</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SH-110 </td>
            <td>4-4654</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/ohio/james-vance/">Vance, J.D.</a></td>
            <td>Ohio</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SD-B40C </td>
            <td>4-3353</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/virginia/mark-warner/">Warner, Mark R.</a></td>
            <td>Virginia</td>
            <td>Democratic</td>
            <td><span style="display: none;">2</span>II</td>
            <td>SH-703 </td>
            <td>4-2023</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/georgia/raphael-warnock/">Warnock, Raphael G.</a></td>
            <td>Georgia</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-388 </td>
            <td>4-3643</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/massachusetts/elizabeth-warren/">Warren, Elizabeth</a></td>
            <td>Massachusetts</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-309 </td>
            <td>4-4543</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/vermont/peter-welch/">Welch, Peter</a></td>
            <td>Vermont</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SR-G12 </td>
            <td>4-4242</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/rhode-island/sheldon-whitehouse/">Whitehouse, Sheldon</a></td>
            <td>Rhode Island</td>
            <td>Democratic</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SH-530 </td>
            <td>4-2921</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/mississippi/roger-wicker/">Wicker, Roger F.</a></td>
            <td>Mississippi</td>
            <td>Republican</td>
            <td><span style="display: none;">1</span>I</td>
            <td>SR-425 </td>
            <td>4-6253</td>
          </tr>
          <tr role="row" class="odd">
            <td><a href="/oregon/ron-wyden/">Wyden, Ron</a></td>
            <td>Oregon</td>
            <td>Democratic</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SD-221 </td>
            <td>4-5244</td>
          </tr>
          <tr role="row" class="even">
            <td><a href="/indiana/todd-young/">Young, Todd</a></td>
            <td>Indiana</td>
            <td>Republican</td>
            <td><span style="display: none;">3</span>III</td>
            <td>SD-185 </td>
            <td>4-5623</td>
          </tr>
        </tbody>
      </table>
    </div>



    <script>
      const searchBox = document.querySelector("#search");
      const tablex = document.querySelector("#listOfSenators");

      searchBox.addEventListener("input", function () {
        const filter = searchBox.value.toLowerCase();
        const rows = tablex.querySelectorAll("tr");

        for (const row of rows) {
          let isMatch = false;
          const columns = row.querySelectorAll("td");

          for (const column of columns) {
            if (column.textContent.toLowerCase().indexOf(filter) !== -1) {
              isMatch = true;
              break;
            }
          }

          if (isMatch) {
            row.style.display = "";
          } else {
            row.style.display = "none";
          }
        }
      });
    </script>

    <style>
      #listOfSenators {
        margin: 1em 0;
        width: 100%;
        overflow: hidden;
        background: #FFF;
        color: #024457;
        border-radius: 10px;
        border: 1px solid #167F92;
      }

      #listOfSenators tr {
        border: 1px solid #D9E4E6;
      }

      #listOfSenators tr:nth-child(odd) {
        background-color: #EAF3F3;
      }

      #listOfSenators th {
        display: none;
        border: 1px solid #FFF;
        background-color: #167F92;
        color: #FFF;
        padding: 1em;
      }

      #listOfSenators th:first-child {
        display: table-cell;
      }

      #listOfSenators th:nth-child(2) {
        display: table-cell;
      }

      #listOfSenators th:nth-child(2) span {
        display: none;
      }

      #listOfSenators th:nth-child(2):after {
        content: attr(data-th);
      }

      @media (min-width: 480px) {
        #listOfSenators th:nth-child(2) span {
          display: block;
        }

        #listOfSenators th:nth-child(2):after {
          display: none;
        }
      }

      #listOfSenators td {
        display: block;
        word-wrap: break-word;
        max-width: 7em;
      }

      #listOfSenators td:first-child {
        display: table-cell;
        border-right: 1px solid #D9E4E6;
      }

      @media (min-width: 480px) {
        #listOfSenators td {
          border: 1px solid #D9E4E6;
        }
      }

      #listOfSenators th,
      #listOfSenators td {
        text-align: left;
        margin: .5em 1em;
      }

      @media (min-width: 480px) {

        #listOfSenators th,
        #listOfSenators td {
          display: table-cell;
          padding: 1em;
        }
      }



      .input-field input[type=search] {
        border: 2px solid #4f5885;
        border-radius: 5px;
      }

      .input-field input[type=search]~.mdi-navigation-close,
      .input-field input[type=search]~.material-icons {

        top: 10px;
      }

      .input-field>label {
        top: 13px;
        right: 1rem !important;
      }
    </style>


  </div>

  <aside class="col xl3 l3 m12 s12  left-col-article"  style="padding-right:0;position: sticky;top: 0;">
    <div id="nav-side-ad">
      {{- partial "ads/sidebar" . -}}
      {{- partial "ads/sponsor" . -}}
      {{- partial "ads/sidebar" . -}}
      {{- partial "social-icons/vertical" . -}}
    </div>
  </aside>
</div>
{{end}}