{{ define "main" }}
<div class="row" itemscope itemtype="https://schema.org/Person">
<div class="col xl9 l9 m12 s12 sengov white z-depth-1" >
    <article class=" post-content"
      style=" padding-left: 30px; padding-right: 30px; padding-bottom: 30px; margin-top:15px; padding-top:1px;">
    <div class="adsgoogle">

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7616051391644176"
        crossorigin="anonymous"></script>
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7616051391644176"
        data-ad-slot="5256849542"
        data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
    <br />
    {{ partial "nav/table-of-contents" . }}
{{.Content}}
<table align="center" style="width:833px">
    <tbody>
        <tr>
            <td colspan="3">
                <p><b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; State SNAP
                        Websites</b></p>
            </td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="https://dhr.alabama.gov/food-assistance/"
                        rel="nofollow noopener">Alabama</a></b></td>
            <td><b><a target="_blank" href="https://www.mass.gov/snap-benefits-formerly-food-stamps"
                        rel="nofollow noopener">Massachusetts</a></b></td>
            <td><b><a target="_blank" href="https://dss.sd.gov/economicassistance/snap/" rel="nofollow noopener">South
                        Dakota</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="http://dhss.alaska.gov/dpa/Pages/SNAP/default.aspx"
                        rel="nofollow noopener">Alaska</a></b></td>
            <td><b><a target="_blank" href="https://www.michigan.gov/mdhhs/0,5885,7-339-71547_5527---,00.html"
                        rel="nofollow noopener">Michigan</a></b></td>
            <td><b><a target="_blank"
                        href="https://www.tn.gov/humanservices/for-families/supplemental-nutrition-assistance-program-snap.html"
                        rel="nofollow noopener">Tennessee</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank"
                        href="https://des.az.gov/services/basic-needs/food/nutrition-assistance-formerly-food-stamp-program"
                        rel="nofollow noopener">Arizona</a></b></td>
            <td><b><a target="_blank"
                        href="https://mn.gov/dhs/people-we-serve/adults/economic-assistance/food-nutrition/programs-and-services/supplemental-nutrition-assistance-program.jsp"
                        rel="nofollow noopener">Minnesota</a></b></td>
            <td><b><a target="_blank" href="https://yourtexasbenefits.hhsc.texas.gov/programs/snap"
                        rel="nofollow noopener">Texas</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="https://humanservices.arkansas.gov/about-dhs/dco"
                        rel="nofollow noopener">Arkansas</a></b></td>
            <td><b><a target="_blank" href="https://www.mdhs.ms.gov/economic-assistance/snap/"
                        rel="nofollow noopener">Mississippi</a></b></td>
            <td><b><a target="_blank" href="https://jobs.utah.gov/customereducation/services/foodstamps/index.html"
                        rel="nofollow noopener">Utah</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="https://www.cdss.ca.gov/food-nutrition/calfresh"
                        rel="nofollow noopener">California</a></b></td>
            <td><b><a target="_blank" href="https://mydss.mo.gov/food-assistance/food-stamp-program"
                        rel="nofollow noopener">Missouri</a></b></td>
            <td><b><a target="_blank" href="https://dcf.vermont.gov/benefits/3SquaresVT"
                        rel="nofollow noopener">Vermont</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank"
                        href="https://www.colorado.gov/pacific/cdhs/supplemental-nutrition-assistance-program-snap"
                        rel="nofollow noopener">Colorado</a></b></td>
            <td><b><a target="_blank" href="https://dphhs.mt.gov/hcsd/SNAP" rel="nofollow noopener">Montana</a></b></td>
            <td><b><a target="_blank" href="https://www.dss.virginia.gov/benefit/snap.cgi"
                        rel="nofollow noopener">Virginia</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank"
                        href="https://portal.ct.gov/DSS/SNAP/Supplemental-Nutrition-Assistance-Program---SNAP"
                        rel="nofollow noopener">Connecticut</a></b></td>
            <td><b><a target="_blank" href="http://dhhs.ne.gov/Pages/SNAP.aspx" rel="nofollow noopener">Nebraska</a></b>
            </td>
            <td><b><a target="_blank" href="https://www.dshs.wa.gov/esa/community-services-offices/basic-food"
                        rel="nofollow noopener">Washington</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="https://www.dhss.delaware.gov/dhss/dss/foodstamps.html"
                        rel="nofollow noopener">Delaware</a></b></td>
            <td><b><a target="_blank" href="https://dwss.nv.gov/SNAP/Food/" rel="nofollow noopener">Nevada</a></b></td>
            <td><b><a target="_blank" href="https://www.benefits.gov/benefit/1591" rel="nofollow noopener">West
                        Virginia</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank"
                        href="https://www.myflfamilies.com/service-programs/access/food-assistance-and-suncap.shtml"
                        rel="nofollow noopener">Florida</a></b></td>
            <td><b><a target="_blank" href="https://www.dhhs.nh.gov/dfa/foodstamps/index.htm"
                        rel="nofollow noopener">New Hampshire</a></b></td>
            <td><b><a target="_blank" href="https://www.dhs.wisconsin.gov/foodshare/index.htm"
                        rel="nofollow noopener">Wisconsin</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="https://dfcs.georgia.gov/food-stamps"
                        rel="nofollow noopener">Georgia</a></b></td>
            <td><b><a target="_blank" href="https://www.nj.gov/humanservices/dfd/programs/njsnap/"
                        rel="nofollow noopener">New Jersey</a></b></td>
            <td><b><a target="_blank" href="https://dfs.wyo.gov/assistance-programs/food-assistance/"
                        rel="nofollow noopener">Wyoming</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="http://humanservices.hawaii.gov/bessd/snap/"
                        rel="nofollow noopener">Hawaii</a></b></td>
            <td><b><a target="_blank"
                        href="https://www.hsd.state.nm.us/LookingForAssistance/Supplemental_Nutrition_Assistance_Program__SNAP_.aspx"
                        rel="nofollow noopener">New Mexico</a></b></td>
            <td><b><a target="_blank" href="https://dhs.dc.gov/service/supplemental-nutrition-assistance-snap"
                        rel="nofollow noopener">District of Columbia</a></b></td>
        </tr>
        <tr>
            <td><b><a target="_blank"
                        href="https://healthandwelfare.idaho.gov/FoodCashAssistance/FoodStamps/tabid/90/Default.aspx"
                        rel="nofollow noopener">Idaho</a></b></td>
            <td><b><a target="_blank" href="http://otda.ny.gov/programs/snap/" rel="nofollow noopener">New York</a></b>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="http://www.dhs.state.il.us/page.aspx?item=30357"
                        rel="nofollow noopener">Illinois</a></b></td>
            <td><b><a target="_blank"
                        href="https://www.ncdhhs.gov/assistance/low-income-services/food-nutrition-services-food-stamps"
                        rel="nofollow noopener">North Carolina</a></b></td>
            <td></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="http://www.in.gov/fssa/dfr/2691.htm" rel="nofollow noopener">Indiana</a></b>
            </td>
            <td><b><a target="_blank" href="http://www.nd.gov/dhs/services/financialhelp/foodstamps.html"
                        rel="nofollow noopener">North Dakota</a></b></td>
            <td></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="https://dhs.iowa.gov/food-assistance" rel="nofollow noopener">Iowa</a></b>
            </td>
            <td><b><a target="_blank" href="http://jfs.ohio.gov/ocomm_root/1000OurServices.stm#FA-2"
                        rel="nofollow noopener">Ohio</a></b></td>
            <td></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="http://www.dcf.ks.gov/services/ees/Pages/Food/FoodAssistance.aspx"
                        rel="nofollow noopener">Kansas</a></b></td>
            <td><b><a target="_blank" href="http://www.okdhs.org/services/snap/Pages/default.aspx"
                        rel="nofollow noopener">Oklahoma</a></b></td>
            <td></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="https://benefind.ky.gov/General/SnapOverview"
                        rel="nofollow noopener">Kentucky</a></b></td>
            <td><b><a target="_blank" href="https://www.oregon.gov/DHS/ASSISTANCE/FOOD-BENEFITS/pages/index.aspx"
                        rel="nofollow noopener">Oregon</a></b></td>
            <td></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="http://www.dcfs.la.gov/page/93" rel="nofollow noopener">Louisiana</a></b>
            </td>
            <td><b><a target="_blank" href="https://www.dhs.pa.gov/Services/Assistance/Pages/SNAP.aspx"
                        rel="nofollow noopener">Pennsylvania</a></b></td>
            <td></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="https://www.maine.gov/dhhs/ofi/services/snap/index.html"
                        rel="nofollow noopener">Maine</a></b></td>
            <td><b><a target="_blank" href="http://www.dhs.ri.gov/Programs/SNAPApplyNow.php"
                        rel="nofollow noopener">Rhode Island</a></b></td>
            <td></td>
        </tr>
        <tr>
            <td><b><a target="_blank" href="http://dhr.maryland.gov/food-supplement-program/"
                        rel="nofollow noopener">Maryland</a></b></td>
            <td><b><a target="_blank" href="https://dss.sc.gov/assistance-programs/snap/" rel="nofollow noopener">South
                        Carolina</a></b></td>
            <td></td>
        </tr>
    </tbody>
</table>
</article>
</div>

<aside class="col xl3 l3 m12 s12  left-col-article"  style="padding-right:0;position: sticky;top: 0;">
    <div id="nav-side-ad">
        {{- partial "ads/sidebar" . -}}
        {{- partial "ads/sponsor" . -}}
        {{- partial "ads/sidebar" . -}}
        {{- partial "social-icons/vertical" . -}}
      </div>
</aside>
</div>
{{end}}