{{ define "main" }}
<div class="row" itemscope itemtype="https://schema.org/Person">
<div class="col xl9 l9 m12 s12 white z-depth-1" >
    <article class=" post-content"
      style=" padding-left: 30px; padding-right: 30px; padding-bottom: 30px; margin-top:15px; padding-top:1px;">
    
{{.Content}}

</article>
</div>

<aside class="col xl3 l3 m12 s12  left-col-article" style="padding-right:0px;">
    <div id="nav-side-ad">
        {{- partial "ads/sidebar" . -}}
        {{- partial "ads/sponsor" . -}}
        {{- partial "ads/sidebar" . -}}
        {{- partial "social-icons/vertical" . -}}
      </div>
</aside>
</div>
{{end}}