<div class="about-dev">
  <div class="profile-card_about">
    <h2>{{- with .Params.avatar }}
      <img src="{{ . }}" alt="author avatar" width="300px" height="160px">
      {{ end }}
      <address class="p-author author h-card vcard">
        <a href="{{ .RelPermalink }}" class="u-url url p-name fn" rel="author">{{ .Params.name }}</a>
      </address>
    </h2>
    <p>{{ .Content | truncate 100 }}</p>
    <footer class="profile-card_footer">
      <p><a class="back-to-profile" href="{{ .RelPermalink }}">Visit My Profile</a></p>
    </footer>
  </div>
</div>
