<div class='page-footer grey darken-1' style="position: relative; z-index: 100; background-image: url(/sengov.png);">
     <div class='page-wrap sengov-footer'>
         <div class='row page-margin'>
              <div class='col xl4 l4 m12 s12'>
                  <h5 class='white-text'>Unemployment Benefits</h5>
                  <ul>
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}application' id='application'>Unemployment Application</a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}eligibility' id='courses'>Unemployment Eligibility</a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}benefits' id='about'>Unemployment Benefits</a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}snap' id='about'>Food Stamps </a></li>

                    
                </ul>
              </div>
             <div class='col xl4 l4 m12 s12'>
                 <h5 class='white-text'>Site Links</h5>
                 <ul>
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}about' id='about'>Governors Functions</a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}salary' id='about'>Governors salary</a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}salary' id='salary'>Governorss salary and benefits</a></li>
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}games' id="games">games</a></li>
                 </ul>
             </div>
             <div class='col xl4 l4 m12 s12'>
                <h5 class='white-text'>Senators info</h5>
                <ul>
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}senate' id='salary'>Current Senators </a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}phone' id='courses'>Senator phone Numbers</a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}email' id='about'>Senator Email Addresses </a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}mail' id='salary'>Senator Mailling Addresses</a></li>
                </ul>

             </div>
             
         </div>
     </div>
     <div class='footer-copyright'>
         <div class='container center'>
             © {{ now.Year }} All information is based on public available information.
         </div>
     </div>
</div>
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js', { scope: '/' })
            .then(function(registration) {
                //console.log('Service Worker Registered');
            });
  
        navigator.serviceWorker
            .ready
            .then(function(registration) {
                //console.log('Service Worker Ready');
            });
    }
  </script>