<div class='page-footer grey darken-1' style="position: relative; z-index: 100; background-image: url(/sengov.png);">
     <div class='page-wrap sengo-footer'>
         <div class='row page-margin'>
              <div class='col xl4 l4 m12 s12'>
                  <h5 class='white-text'>Unemployment Benefits</h5>
                  <ul>
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}application' id='application'>Unemployment Application <i class='material-icons left'>attach_money</i></a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}eligibility' id='courses'>Unemployment Eligibility <i class='material-icons left'>attach_money</i></a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}benefits' id='about'>Unemployment Benefits <i class='material-icons left'>attach_money</i></a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}snap' id='about'>Food Stamps <i class='material-icons left'>attach_money</i></a></li>

                    
                </ul>
              </div>
             <div class='col xl4 l4 m12 s12'>
                 <h5 class='white-text'>Site Links</h5>
                 <ul>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}about' id='about'>How To Contact My Governorss <i class='material-icons left'>info_outline</i></a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}salary' id='salary'>Governorss salary and benefits<i class='material-icons left'>attach_money</i></a></li>
                 </ul>
             </div>
             <div class='col xl4 l4 m12 s12'>
                <h5 class='white-text'>Senators info</h5>
                <ul>
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}csenate' id='salary'>Current Senators <i class='material-icons left'>info_outline</i></a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}phone' id='courses'>Senator phone Numbers <i class='material-icons left'>phone</i></a></li>
                    <br /> 
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}email' id='about'>Senator Email Addresses <i class='material-icons left'>email</i></a></li>
                    <br />
                    <li><a class='grey-text text-lighten-3' href='{{.Site.BaseURL}}mail' id='salary'>Senator Mailling Addresses<i class='material-icons left'>mail</i></a></li>
                </ul>

             </div>
             
         </div>
     </div>
     <div class='footer-copyright'>
         <div class='container center'>
             © {{ now.Year }} All information is based on public available information.
         </div>
     </div>
</div>
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js', { scope: '/' })
            .then(function(registration) {
                //console.log('Service Worker Registered');
            });
  
        navigator.serviceWorker
            .ready
            .then(function(registration) {
                //console.log('Service Worker Ready');
            });
    }
  </script>