<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BDCK88GE7C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BDCK88GE7C');
</script>

<script async type="application/javascript"
        src="https://news.google.com/swg/js/v1/swg-basic.js"></script>
<script>
  (self.SWG_BASIC = self.SWG_BASIC || []).push( basicSubscriptions => {
    basicSubscriptions.init({
      type: "NewsArticle",
      isAccessibleForFree: true,
      isPartOfType: ["Product"],
      isPartOfProductId: "CAow8tG-Cw:openaccess",
      autoPromptType: "none",
      clientOptions: { theme: "light", lang: "en" },
    });
  });
</script>