
{{ if or (eq (lower.Params.inoffice) "current") (eq (lower .Params.inoffice) "former") }}
<title data-pagefind-body>contact {{.Params.Role}} {{.Params.Name}} of {{.Params.State}}</title>
{{ else }}
<title data-pagefind-body>{{.Params.seo_title}} | sengov.com</title>
{{- end -}}
<meta charset="utf-8">
<meta name="theme-color" content="#317EFB"/>
<meta http-equiv='content-language' content='en-gb'>
<meta name="HandheldFriendly" content="True">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="referrer" content="no-referrer-when-downgrade">
<meta name="description" content="{{.Description}}" />
{{ if or (eq (lower.Params.inoffice) "current") (eq (lower .Params.inoffice) "former") }}
<meta name="keywords" content="{{.Params.Role}} {{.Params.Name}} of {{.Params.State}},{{.Params.Party}} {{.Params.Role}} {{.Params.Name}},{{.Params.Role}} {{.Params.Name}} Contact Information ">
{{ else }}
<meta name="keywords" content="{{.Keywords}}">
{{- end -}}

<meta name="fo-verify" content="f79749e8-2863-4c0a-96d8-39176c1ff0a8">
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/schema.html" . }}
{{ if eq .Params.imagedir "root" }}
<meta property="og:image" content="{{.Site.BaseURL}}{{.Params.imageurl}}" />
<meta property="twitter:image" content="{{.Site.BaseURL}}{{.Params.imageurl}}" />
{{ else if eq .Section "candidates" }}
<meta property="og:image" content="{{.Site.BaseURL}}candidates/{{.Params.image}}" />
<meta property="twitter:image" content="{{.Site.BaseURL}}candidates/{{.Params.image}}" />
{{ else }}
<meta property="og:image" content="{{.Site.BaseURL}}{{.Params.url}}{{.Params.image}}" />
<meta property="twitter:image" content="{{.Site.BaseURL}}{{.Params.url}}{{.Params.image}}" />
{{- end -}}
<meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
<link rel="canonical" href="{{ .Permalink }}" />



<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet" >
<link  rel="stylesheet"  href="{{.Site.BaseURL}}css/style.css">
<link  rel="stylesheet"   href="{{.Site.BaseURL}}css/map.css">
<link  rel="stylesheet"  href="{{.Site.BaseURL}}css/hero.css">
<link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

{{ $style := resources.Get "sass/styles.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<!-- sw -->
<link rel="manifest" href="{{.Site.BaseURL}}manifest.json">

{{ if eq .Section "pay" }}
<link  rel="stylesheet"   href="{{.Site.BaseURL}}css/pay.css">
{{end }}