<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script> -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script> -->
<script  src="{{.Site.BaseURL}}js/sticky-kit.js"></script>
<script  src="{{.Site.BaseURL}}js/init.js"></script>  

<script src="https://code.responsivevoice.org/responsivevoice.js"></script>


{{ $uijs := resources.Get "js/materialize.min.js" | minify }}
{{ $mainjs := resources.Get "js/main.js" | minify }}
{{ $parallaxjs := resources.Get "js/parallax.js" | minify }}
<script src="{{ $uijs.RelPermalink }}"></script>
<script src="{{ $mainjs.RelPermalink }}"></script>
<script src="{{ $parallaxjs.RelPermalink }}"></script>

<script>

if('serviceWorker' in navigator) {
    navigator.serviceWorker
        .register('/sw.js', { scope: '/' })
        .then(function(registration) {
            //console.log('Service Worker Registered');
        });

    navigator.serviceWorker
        .ready
        .then(function(registration) {
          //console.log('Service Worker Ready');
        });
}













</script>