
<div class="row">
    <div class="input-field col l6 m6 s6">
       <!-- Select Menu for Voice -->
    <select id="voices" class="form-select bg-secondary text-light"></select>
          
    </div>
    <div class="col l6 m6 s6"><div>
        <button id=play></button> &nbsp;
        <button id=pause></button> &nbsp;
        <button id=stop></button>


        <p>
            <button class="btn--default" id="playbutton">Play</button>
            <button class="btn--error" id="stopbutton">Stop</button>
          </p>
    </div>
</div>
</div>
