{{ define "main" }}
 else default
 {{ partial "listings/home" . }}

 {{if .Sections}}
 <h2>Contact {{.Title}} Senators</h2>
 <div class=" row">
      {{range .Sections }}
           {{ if  and (eq .Params.role "senator") ( eq .Params.inoffice "current")  }}
                <!-- {{ if eq .Params.inoffice "current" }} -->
                <div class="col s12 m6 l6">
                {{ partial "listings/senate" . }}
                </div>
                <!-- {{end}} -->
           {{end}}
      {{end}}
 </div>
{{end}}

        
{{ end }}