.grid-featured {
    padding: 20px;
    background-color: rgba(0, 96, 100, 0.77);
    background-image: -webkit-linear-gradient(30deg, rgba(191, 191, 191, 0.11) 45%, rgb(0, 96, 100) 45%);
    position: relative;

    &::after {
        content: '';
        background-color: rgba(0, 96, 100, 0.31);
        background-image: -webkit-linear-gradient(30deg, rgba(212, 234, 236, 0.25) 45%, rgba(76, 242, 249, 0.2) 45%);
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .featured-row {
        max-width: 1280px;
        margin: auto;

        @media #{$medium-and-up} {
            display: flex;
            align-items: center;

        }

        .f-thumb-img {
            height: auto;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #e8e8e8;
            border-radius: 3px;
            transition: transform .3s cubic-bezier(.52, .28, .47, 1.15);
            box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .2), 0 2px 9px 0 rgba(62, 57, 107, .2);
        }

        .card-image {
            display: flex;
            flex-direction: column;
            align-items: center;

            .sthumb-img {
                height: auto;
                max-height: 170px;
                max-width: 100%;
                width: 360px;
                margin: 10px;
                background-size: cover;
                background-repeat: no-repeat;
                background-color: #e8e8e8;
                border-radius: 3px;
                transition: transform .3s cubic-bezier(.52, .28, .47, 1.15);
                box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .2), 0 2px 9px 0 rgba(62, 57, 107, .2);

                @media #{$medium-and-up} {
                    max-width: 60%;
                }

                @media #{$extra-large-and-up} {
                    max-width: 100%;
                }
            }
        }
    }


}