.my-profile{
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    .user-profile{
        padding: 50px;
        .about{
            //margin: auto;
            //box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, .3), -2px -4px 15px -2px rgba(0, 0, 0, .2);
            animation: profile_in 0.8s;
            
            .avatar {
                height: 200px;
                position: relative;
                width: 200px;
              img {
                border-radius: 9999px;
                height: 100%;
                position: relative;
                width: 100%;
                z-index: 2;
              }
              
              @keyframes cycle-colors {
                0% { border-color: hsl(0, 100%, 50%); }
                25% { border-color: hsl(90, 100%, 50%); }
                50% { border-color: hsl(180, 100%, 50%); }
                75% { border-color: hsl(270, 100%, 50%); }
                100% { border-color: hsl(360, 100%, 50%); }
              }
              
              @keyframes pulse {
                to {
                  opacity: 0;
                  transform: scale(1);
                }
              }
              
              &::before,
              &::after {
                animation: pulse 3s linear infinite, cycle-colors 6s linear infinite;
                border: #fff solid 8px;
                border-radius: 9999px;
                box-sizing: border-box;
                content: ' ';
                height: 140%;
                left: -20%;
                opacity: .6;
                position: absolute;
                top: -20%;
                transform: scale(0.714);
                width: 140%;
                z-index: 1;
              }
              
              &::after {
                animation-delay: 1s;
              }
              
              &:hover::before,
              &:hover::after {
                animation: pulse 1s linear infinite, cycle-colors 6s linear infinite;
              }
              
              &:hover::after {
                animation-delay: .5s;
              }
            }
            .aboutme{
                h4 {
                    margin: 0;
                    display: inline-block;
                    color: #333;
                    font-weight: normal;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                    position: relative;
                    z-index: 2;
                    vertical-align: middle;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 110%;
                        height: 1rem;
                        background: #c6f1eb;
                        left: -5px;
                        top: 50%;
                        z-index: -1;
                    }
                }
                
            }
            .social{
                a{
                    color: #00f1cf;
                    font-size: 30px;
                    padding: 10px;
                }
            }
            
        }
    }
}