<div class="faq"  itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
  <ul class="collapsible expandable">
    <li style="list-style: none;" class="active">
      <div class="collapsible-header" itemprop="name"><i class="material-icons">info</i>{{ with .Get "title" }}{{ . }}{{ end }}</div>
      <div  class="faq-answer collapsible-body" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
          <div itemprop="text">
              {{ .Inner | markdownify }}
          </div>
        </div>
      </li>
  </ul>
    </div>