
{{if .Sections}}
<div class="row" id="governors">
     {{range .Sections }}
           <div class="col s3 m2 l1">
          <a href="{{.Permalink}}" ><h5 class="grey-text text-darken-2">{{ .Params.ab }}</h5></a>
          </div>
     {{end}}
</div>
{{end}}
{{define "recursive-course-listing"}}
     {{if .Sections}}
          {{range .Sections }}
               <div class="col">
                    {{ partial "listings/course-card" . }}
               </div>
               {{ template "recursive-course-listing" . }}
          {{end}}

     {{end}}
</div>
{{end}}
