
<title>{{.Params.seo_title}} | sengov.com</title>
<meta name="description" content="{{.Description}}" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name='author' content='{{- if .Params.author -}}{{- .Params.author -}}{{- else -}}Contact US Governors{{- end -}}'>
<meta property="og:title" content="{{.Params.seo_title}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{.Permalink}}" />
<meta property="og:description"content="{{.Description}}" />
<meta property="og:site_name" content="Contact US Governors" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{- if isset .Params "image" -}}<meta property="og:image" content="{{- substr .Site.BaseURL 0 -1 -}}{{- .Page.URL -}}{{.Params.image}}" />{{- end -}}
{{- if isset .Params "video" -}}<meta property="og:video" content="https://www.youtube.com/watch?v={{.Params.video}}" />{{- end -}}
<link rel="manifest" href="/manifest.json">
<!-- appicons -->
<meta name="msapplication-TileColor" content="#082663" />
<meta name="msapplication-TileImage" content="https://sengov.com/appicons/mstile-144x144.png" />
<meta name="msapplication-square310x310logo" content="https://sengov.com/appicons/mstile-310x310.png" />
<!-- end appicons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
<link rel="stylesheet" href="{{.Site.BaseURL}}css/style.css">
<link rel="stylesheet" href="{{.Site.BaseURL}}css/map.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">



<!-- theme main css -->
{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="preload" onload="this.rel = 'stylesheet'" href="{{ $style.Permalink }}"  as="style">
<link rel="preload" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/icon?family=Material+Icons"  as="style">
<link rel="preload" onload="this.rel = 'stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  as="style">
<link rel="preload"  onload="this.rel = 'stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css"  as="style">

<link rel="stylesheet" href="{{ $style.Permalink }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">