{{ define "main" }}
<div class="container">
    <section class="intro center-align">
      <h3 class="flow-text">Let's socialize and play classic games</h3>
      <h4 class="flow-text">let the fun begin!</h4>
    </section>
    <section class="adopt-gallery">
      <div class="pet-gallery row">
        <!-- Card-->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator responsive-img" src="snake/assets/boards/board2.png" alt="Peppa"/></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4">Snake<i class="material-icons right">more_vert</i></span>
              <p><a href="/games/snake" class="waves-effect waves-light btn-small brown darken-1"><i class="material-icons right">games</i>play</a></p>
            </div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4">snake<i class="material-icons right">close</i></span>
              <h5> Snakes and Ladders 
              </h5>
              <p> roll and move number of squares with full of traps and tricks</p>
              <p>Ladders will take you up but Snakes will take you down!</p>
            </div>
          </div>
        </div>
        <!-- card end-->
        <!-- Card-->
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light"><img class="activator responsive-img" src="https://source.unsplash.com/CR4aXF5uXQQ/500x320" alt="Trudy"/></div>
            <div class="card-content"><span class="card-title activator grey-text text-darken-4">Trudy<i class="material-icons right">more_vert</i></span>
              <p><a class="waves-effect waves-light btn-small brown darken-1"><i class="material-icons right">games</i>play</a></p>
            </div>
            <div class="card-reveal"><span class="card-title grey-text text-darken-4">Trudy<i class="material-icons right">close</i></span>
              <h5> You got to love her smile
              </h5>
              <p>Here is some more information about this pet.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque massa mi, feugiat eu ante at, egestas lobortis massa. In ut finibus leo, sed euismod ipsum.</p>
            </div>
          </div>
        </div>
        <!-- card end-->
      </div>
    </section>
  </div>
{{ end }}