<!DOCTYPE html>
<html>
     <head>
          {{ partial "head" . }}
          {{ partial "js" . }}
          {{ partial "google-analytics" . }}
     </head>
     <body>
          <header>{{ partial "header" . }}</header>
          <main data-pagefind-body class="csenator">
               <div class="page-wrap" style="background: #fff;">
                    <div class="page-margin" style="padding-bottom: 10px;">
                         <aside>{{ partial "breadcrumbs" . }}</aside>
                         {{ block "main" . }}{{ end }}
                    </div>
               </div>
          </main>
          <footer>{{ partial "footer" . }}</footer>
           <!-- CONTENT END-->
        {{ partial "floatbtn" . }}
     </body>
</html>