
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "candidates") }}
{{ range $paginator.Pages }}
<article id="{{ range  $categories := .Params.categories }} {{ $categories| lower }}{{ end }}"
  class="hentry post-contents {{ range  $categories := .Params.categories }} {{ $categories | lower }}{{ end }}"
  itemtype="http://schema.org/Article">
  <div class="card horizontal sen-elect">
    <a class="card-image entry-title" href="{{ .Permalink }}" title="{{ .Params.title }}">

      {{ if .Params.image }}
      <div class="thumb-img" style="background-image: url({{ .Site.BaseURL }}candidates/{{ .Params.image }});"></div>
      {{ else }}
      <div class="thumb-img" style="background-image: url({{ .Site.BaseURL }}{{ .Params.defaulImage }});"></div>
      {{ end }}

    </a>
    {{- partial "summary.html" . -}}
  </div>
</article>
{{ end }}

<ul class="pagination center">
{{ if .Paginator.HasPrev }}
    <li class="waves-effect "><a href="{{ .Paginator.Prev.URL }}" class=" waves-light btn white-text light-blue darken-4"><i class="material-icons left">chevron_left</i>PREV</a></li>
{{ end }}
{{ if .Paginator.HasNext }}
    <li class="waves-effect "><a href="{{ .Paginator.Next.URL }}" class=" waves-light btn white-text light-blue darken-4"><i class="material-icons right">chevron_right</i>NEXT</a></li>
{{ end }}
</ul>