{{/* Get all pages in the "income" section without pagination */}}
{{ $incomePages := where .Site.RegularPages "Section" "income" }}

{{/* Loop through all the fetched pages */}}
{{ range $incomePages }}
<article id="{{ range  $categories := .Params.categories }} {{ $categories| lower }}{{ end }}"
  class="hentry post-contents {{ range  $categories := .Params.categories }} {{ $categories | lower }}{{ end }}"
  itemtype="http://schema.org/Article">
  <div class="card horizontal sen-elect">
    <a class="card-image entry-title" href="{{ .Permalink }}" title="{{ .Params.title }}">

      {{ if .Params.image }}
      <div class="thumb-img" style="background-image: url({{ .Site.BaseURL }}income/{{ .Params.image }});"></div>
      {{ else }}
      <div class="thumb-img" style="background-image: url({{ .Site.BaseURL }}{{ .Params.defaulImage }});"></div>
      {{ end }}

    </a>
    {{- partial "summary.html" . -}}
  </div>
</article>
{{ end }}

{{/* Pagination controls removed */}}