{{ define "main" }}
{{if and (.Layout) (eq .Layout "course_home")}}
{{ partial "markup/course" . }}
{{ partial "articles/lesson" . }}
{{else if and (.Layout) (eq .Layout "military")}}
{{ partial "articles/military" . }}
{{else if and (.Layout) (eq .Layout "voting")}}
{{ partial "articles/voting" . }}
{{else}}

{{ if and (not (in .Section "voting")) (not (in .Section "military")) (not (in .Section "whitehouse"))}}
<div class="card  blue-grey-text text-darken-1 bio" style="margin-top:20px; padding: 25px 20px 20px;  ">
     <div class="row">

          <div class="col s12 m6 l3 h-entry">
               <div class="senator-image h-card">

                    <img class="u-photo" src="{{.Site.BaseURL}}{{.Params.url}}{{.Params.flag}}" alt="{{.Title}}"
                         style="    max-width: 300px;">
               </div>
          </div>

          <div class="col s12 m6 l9">
               <div class="h-entry">
                    <header>
                         <h2 class="p-name" id="state-government"> {{.Title}} State Government</h2>
                    </header>
                    <div class="p-summary">Contact information for the {{.Params.Title}} governor.</div>
               </div>
               <table class="h-card">
                    <tbody>
                         <tr itemscope="" itemtype="http://microformats.org/wiki/hCard">
                              <td>Official Name:</td>
                              <td class="p-name" itemprop="addressRegion"><a target="_blank" rel="noopener noreferrer"
                                        href="{{.Params.stateweb}}">{{.Params.Title}}</a></td>
                         </tr>
                         <tr itemscope="" itemtype="http://microformats.org/wiki/hCard">
                              <td>Governor:</td>
                              <td class="p-role" itemprop="name"> {{.Params.gov}}</td>
                         </tr>
                         <tr itemscope="" itemtype="http://microformats.org/wiki/hCard">
                              <td>Contact:</td>
                              <td class="p-region"><a target="_blank" rel="noopener noreferrer"
                                        href="{{.Params.govweb}}">Contact the governor</a>
                              </td>
                         </tr>
                         <tr itemscope="" itemtype="http://microformats.org/wiki/hCard">
                              <td>Main Address:</td>
                              <td class="p-region" itemprop="address">{{.Params.Address}}</td>
                         </tr>
                         <tr itemscope="" itemtype="http://microformats.org/wiki/hCard">
                              <td>Phone Number:</td>
                              <td class=" tel" itemprop="telephone">{{.Params.phonenumber}}</td>
                         </tr>

                    </tbody>
               </table>

          </div>
     </div>
     <div class="h-entry">
          {{.Content}}
     </div>
</div>
{{end}}

{{ if eq .Section "voting" }}

<div class="h-entry">
     {{.Content}}
</div>
{{end}}

{{ if and (not (in .Section "voting")) (not (in .Section "military")) (not (in .Section "whitehouse"))}}
{{ partial "listings/section" . }}

{{end}}


{{end}}

{{ end }}