{{ define "main" }}
     {{if and (.Layout) (eq .Layout "single")}}
          {{ partial "markup/article" . }}
          {{ partial "articles/single" . }}
     {{else if and (.Layout) (eq .Layout "pay")}}
          {{ partial "markup/article" . }}
          {{ partial "articles/pay" . }}
    {{else if and (.Layout) (eq .Layout "military")}}
          {{ partial "markup/article" . }}
          {{ partial "articles/military" . }}
     {{else}}
     {{ partial "markup/article" . }}
     {{ partial "articles/lesson" . }}
     {{end}}
{{ end }}