<script type="application/ld+json">
     {"@context": "http://schema.org",
     "@type": "WebSite",
     "name": "Contact US governors",
     "url": "{{- .Site.BaseURL -}}"
     }
</script>
<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "Organization",
"name": "Contact US governors",
"url": "{{- .Site.BaseURL -}}",
"logo": "{{.Site.BaseURL}}slogo.svg",
"email": "info@sengov.com",
"description": "sengov.com is your number spot to Contact to your governors. ",
"founder": {
     "@type": "Person",
     "name": "Contact US governors"
},
"sameAs": [""]
}
</script>